{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Scan Engine
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_miscellaneous.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css' %}">
<script src="{% static 'plugins/sweetalerts/promise-polyfill.js' %}"></script>
<link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/widgets/modules-widgets.css' %}">
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'scan_engine_index' %}">Engines</a></li>
<li class="breadcrumb-item active">All Scan Engines</li>
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="widget widget-table-two">
  <div class="widget-heading">
    <div class="row">
      <div class="col-6">
        <h5>Scan Engines</h5>
      </div>
      <div class="col-6">
        <a href="{% url 'add_engine' %}" class="btn btn-outline-primary mb-2 float-right">Add New Engine</a>
      </div>
    </div>
  </div>
  <div class="widget-content">
    <div class="table-responsive mt-4 mb-4">
      <table id="scan_engine_table" class="table">
        <thead>
          <tr>
            <th>Engine Name</th>
            <th class="text-center">Subdomain Discovery</th>
            <th class="text-center">Screenshot</th>
            <th class="text-center">OSINT</th>
            <th class="text-center">Port Scan</th>
            <th class="text-center">Directory & Files Discovery</th>
            <th class="text-center">Fetch URLs</th>
            <th class="text-center">Vulnerability Scan</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for engine_type in engine_type.all %}
          <tr>
            <td><span class="bs-tooltip text-info" data-placement="right" title="{% if engine_type.default_engine %}Default Engine {% else %}Custom Engine{% endif %}">{{engine_type.engine_name}}</span></td>
            <td class="text-center">
              {% if engine_type.subdomain_discovery %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              {% if engine_type.screenshot %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              {% if engine_type.osint %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              {% if engine_type.port_scan %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              {% if engine_type.dir_file_search %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              {% if engine_type.fetch_url %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              {% if engine_type.vulnerability_scan %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {%endif%}
            </td>
            <td class="text-center">
              <a href="{% url 'update_engine' engine_type.id %}" class="bs-tooltip open-domain" data-placement="top" title="" data-original-title="Edit Engine">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-edit feather-edit-2">
                  <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                </svg>
              </a>
              <a onclick="delete_api({{ engine_type.id }}, 'engine')" class="bs-tooltip btnDelDomain" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete {{engine_type.engine_name}} Engine">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-delete feather-x-circle">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="15" y1="9" x2="9" y2="15"></line>
                  <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'custom/custom.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<script src="{% static 'scanEngine/js/custom_scan_engine.js' %}"></script>
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
{% endblock page_level_script %}
