{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add Wordlists
{% endblock title %}


{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Add Wordlists
{% endblock breadcrumb_title %}

{% block main_content %}
    {% include 'scanEngine/wordlist/_items/add_form.html' with button_title="Upload Wordlist" widget_title="Add Wordlist" form_action="add" %}
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script type="text/javascript">
var input = document.getElementById("name");
var shortName = document.getElementById("short_name");
var inputValue = document.getElementById("name").value;

input.addEventListener("input", function() {
inputValue = document.getElementById("name").value;
    shortName.value = inputValue.replace(/\s+/g, '_').toLowerCase();;
});
</script>
{% endblock page_level_script %}
