/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
body {
  background-color: #f1f2f3; }

/*Navbar*/
nav .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #fff; }

.navbar-expand .navbar-nav .nav-link {
  color: #fff;
  padding: 0 17px; }

.fq-header-wrapper {
  padding: 0 0;
  overflow: hidden; }
  .fq-header-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 638px;
    background-color: #4361ee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23009d8a'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230078ad'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; }
  .fq-header-wrapper h1 {
    font-size: 46px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px; }
  .fq-header-wrapper p {
    color: #d3d3d3;
    font-size: 14px;
    margin-bottom: 27px;
    line-height: 25px; }
  .fq-header-wrapper button {
    border-radius: 30px;
    padding: 10px 25px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    color: #fff; }
    .fq-header-wrapper button:hover {
      background-color: transparent;
      color: #fff;
      box-shadow: none; }
  .fq-header-wrapper .banner-img img {
    width: 582px;
    height: 582px; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fq-header-wrapper {
    background-image: none; } }

/*
    Common Question
*/
.faq .faq-layouting .fq-comman-question-wrapper {
  padding: 52px 52px;
  -webkit-box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
  border-radius: 15px;
  background: #fff;
  margin-top: -57px;
  margin-bottom: 70px; }
  .faq .faq-layouting .fq-comman-question-wrapper h3 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 40px; }
  .faq .faq-layouting .fq-comman-question-wrapper ul {
    padding: 0; }
    .faq .faq-layouting .fq-comman-question-wrapper ul li {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 16px;
      color: #3b3f5c; }
      .faq .faq-layouting .fq-comman-question-wrapper ul li:hover {
        cursor: pointer;
        color: #4361ee; }
      .faq .faq-layouting .fq-comman-question-wrapper ul li .icon-svg {
        display: inline-block;
        margin-right: 9px; }
      .faq .faq-layouting .fq-comman-question-wrapper ul li svg {
        color: #888ea8;
        width: 19px;
        height: 19px;
        vertical-align: bottom; }
      .faq .faq-layouting .fq-comman-question-wrapper ul li:hover svg {
        color: #4361ee; }

.faq .faq-layouting .fq-tab-section {
  margin-bottom: 70px; }
  .faq .faq-layouting .fq-tab-section h2 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 40px; }
  .faq .faq-layouting .fq-tab-section .accordion .card {
    border: none;
    margin-bottom: 26px;
    -webkit-box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    border-radius: 12px;
    cursor: pointer; }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header {
      padding: 0;
      border: none;
      background: none; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header > div {
        padding: 13px 21px;
        font-weight: 600;
        font-size: 16px;
        color: #4361ee; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div .faq-q-title {
        overflow: hidden;
        white-space: nowrap;
        font-size: 13px;
        color: #3b3f5c;
        font-weight: 700; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div svg.feather-code {
        width: 17px;
        vertical-align: middle;
        margin-right: 11px;
        color: #888ea8; }
    .faq .faq-layouting .fq-tab-section .accordion .card:hover .card-header div svg.feather-code {
      color: #4361ee; }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] svg.feather-code {
      color: #4361ee; }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div .like-faq {
      display: inline-block;
      float: right; }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div svg.feather-thumbs-up {
      cursor: pointer;
      vertical-align: bottom;
      margin-right: 10px;
      width: 18px;
      color: #888ea8;
      fill: rgba(0, 23, 55, 0.08); }
    .faq .faq-layouting .fq-tab-section .accordion .card:hover .card-header div svg.feather-thumbs-up {
      color: #4361ee;
      fill: rgba(27, 85, 226, 0.239216); }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] svg.feather-thumbs-up {
      color: #4361ee;
      fill: rgba(27, 85, 226, 0.239216); }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div span.faq-like-count {
      font-size: 13px;
      font-weight: 700;
      color: #888ea8;
      fill: rgba(0, 23, 55, 0.08); }
    .faq .faq-layouting .fq-tab-section .accordion .card:hover .card-header div span.faq-like-count, .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] span.faq-like-count {
      color: #4361ee;
      fill: rgba(27, 85, 226, 0.239216); }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-body p {
      font-size: 14px;
      font-weight: 600;
      line-height: 23px; }

.faq .faq-layouting .fq-article-section {
  margin-bottom: 90px; }
  .faq .faq-layouting .fq-article-section h2 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 40px; }
  .faq .faq-layouting .fq-article-section .card {
    border: none;
    -webkit-box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    border-radius: 12px; }
    .faq .faq-layouting .fq-article-section .card img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px; }
    .faq .faq-layouting .fq-article-section .card .card-body .fq-rating {
      margin-bottom: 13px; }
      .faq .faq-layouting .fq-article-section .card .card-body .fq-rating svg {
        width: 17px;
        color: #e2a03f; }
        .faq .faq-layouting .fq-article-section .card .card-body .fq-rating svg.checked {
          fill: rgba(226, 160, 63, 0.541176); }
    .faq .faq-layouting .fq-article-section .card .card-body h5.card-title {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 21px; }
    .faq .faq-layouting .fq-article-section .card .card-body p.card-text {
      letter-spacing: 1px;
      color: #888ea8; }
    .faq .faq-layouting .fq-article-section .card .card-body p.meta-text {
      font-size: 13px;
      font-weight: 600;
      color: #4361ee; }
      .faq .faq-layouting .fq-article-section .card .card-body p.meta-text svg {
        width: 18px;
        vertical-align: bottom; }

/*
    Tab Section
*/
/*
    Article Section
*/
/*
    Mini Footer Wrapper
*/
#miniFooterWrapper {
  color: #fff;
  font-size: 14px;
  border-top: solid 1px #ffffff;
  padding: 14px;
  -webkit-box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1); }
  #miniFooterWrapper .arrow {
    background-color: #4361ee;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    #miniFooterWrapper .arrow p {
      align-self: center;
      margin-bottom: 0;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px; }
  #miniFooterWrapper .copyright a {
    color: #4361ee;
    font-weight: 700;
    text-decoration: none; }

/*
    Media Query
*/
@media (max-width: 1199px) {
  .fq-header-wrapper .banner-img img {
    width: 340px;
    height: 363px;
    margin: 0 auto; } }

@media (max-width: 767px) {
  .fq-header-wrapper {
    min-height: 640px; }
  .faq .faq-layouting .fq-comman-question-wrapper {
    margin-top: 32px; } }

@media (max-width: 575px) {
  .fq-header-wrapper .banner-img img {
    width: 283px;
    height: 363px; }
  .faq .faq-layouting .fq-tab-section .accordion .card .card-header div svg.feather-code {
    display: none; } }
