<div class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-info">Add Engine Type</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
                <form class="" action="index.html" method="post">
                    {{form}}
                </form>
        </div>
    </div>
</div>
