{% extends 'base/base.html' %}
{% load humanize %}
{% load static %}
{% load mathfilters %}
{% block title %}
Dashboard
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/widgets/modules-widgets.css' %}">
<link href="{% static 'assets/css/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/elements/alert.css' %}">
<link href="{% static 'plugins/apex/apexcharts.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/elements/avatar.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="widget widget-one">
	<div class="widget-heading">
		<h6 class="">Statistics</h6>
	</div>
	<div class="w-chart">

		<div class="w-chart-section info-card">
			<div class="w-detail">
				<p class="w-title">Total Targets</p>
				<p class="w-stats">{{domain_count|intcomma}}</p>
			</div>
			<div class="w-chart-render-one">
				<div id="targets_chart"></div>
			</div>
			<br>
			<br>
			<a href="{% url 'list_target' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg> View all targets</a>
		</div>
		<div class="w-chart-section primary-card">
			<div class="w-detail">
				<p class="w-title">Total Subdomains</p>
				<p class="w-stats">{{subdomain_count|intcomma}}</p>
			</div>
			<div class="w-chart-render-one">
				<div id="subdomains_chart"></div>
			</div>
			<br>
			<p class="w-title">Alive Subdomains: <b>{{alive_count|intcomma}}</b></p>
			<a href="{% url 'all_subdomains' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg> View all subdomains</a>
		</div>
		<div class="w-chart-section purple-card">
			<div class="w-detail">
				<p class="w-title">Total Endpoints</p>
				<p class="w-stats">{{endpoint_count|intcomma}}</p>
			</div>
			<div class="w-chart-render-one">
				<div id="endpoint_chart"></div>
			</div>
			<br>
			<p class="w-title">Alive Endpoints: <b>{{endpoint_alive_count|intcomma}}</b></p>
			<a href="{% url 'all_endpoints' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg> View all endpoints</a>
		</div>
		<div class="w-chart-section danger-card">
			<div class="w-detail">
				<p class="w-title">Total Vulnerabilities</p>
				<p class="w-stats">{{total_vul_count|intcomma}}</p>
			</div>
			<div class="w-chart-render-one">
				<div id="vuln_chart"></div>
			</div>
			<br>
			<p class="w-title"><b>{{critical_count}}</b> Critical, <b>{{high_count}}</b> High</p>
			<a href="{% url 'all_vulns' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg> View all Vulnerabilities</a>
		</div>
	</div>
</div>
</div>
{% if info_count > 0 or low_count > 0 or medium_count > 0 or high_count > 0 or critical_count > 0 %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-chart-two">
		<div class="widget-heading">
			<div class="row">
				<div class="col-6">
					<h6 class="">Vulnerability Scan Summary</h6>
				</div>
				<div class="col-6">
					<span class="float-right"><a href="{% url 'all_vulns' %}" class="text-info">View all vulnerabilities</a></span>
				</div>
			</div>
		</div>
		<div class="widget-content">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 layout-spacing">
					<h6 class="text-info text-center">Vulnerability Breakdown by Severity</h6>
					<div id="vulnerability-chart" class=""></div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
					<h6 class="text-danger text-center">Most Vulnerable Targets</h6>
					<div class="table-responsive">
						<table class="table table-hover table-light">
							<thead>
								<th>Target</th>
								<th>&nbsp;</th>
							</thead>
							<tbody>
								{% for item in most_vulnerable_target %}
								<tr class="bs-tooltip" title="{{item.num_vul}} Vulnerabilities" onclick="window.location='scan/detail/vuln?domain={{item.name}}';" style="cursor: pointer;">
									<td>{{item.name}}</td>
									<td class="text-center">
										<div class="progress br-30">
											<div class="progress-bar br-30 bg-danger" role="progressbar" style="width: {% with percent=item.num_vul|div:total_vul_count %}{{percent|mul:100}}{% endwith %}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</td>
								</tr>
								{% empty %}
								Not enough data.
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
					<h6 class="text-danger text-center">Most Common Vulnerabilities</h6>
					<div class="table-responsive">
						<table class="table table-hover table-light">
							<tbody>
								<thead>
									<th>Vulnerability Name</th>
									<th class="text-center">Count</th>
									<th>Severity</th>
								</thead>
								{% for item in most_common_vulnerability %}
								<tr onclick="window.location='scan/detail/vuln?vulnerability_name={{item.name}}';" style="cursor: pointer;">
									<td>{{item.name}}</td>
									<td class="text-center">
										{{item.count}}
									</td>
									<td>
										<div class="t-rate">
											{% if item.severity == 0 %}
											<span class='badge badge-info'>Info</span>
											{% elif item.severity == 1 %}
											<span class='badge badge-low'>Low</span>
											{% elif item.severity == 2 %}
											<span class='badge badge-warning'>Medium</span>
											{% elif item.severity == 3 %}
											<span class='badge badge-danger'>High</span>
											{% elif item.severity == 4 %}
											<span class='badge badge-critical'>Critical</span>
											{% endif %}
										</div>
									</td>
								</tr>
								{% empty %}
								Not enough data
								{% endfor %}
							</tbody>
						</table>
						<small class="text-muted float-right mr-3">*Informational vulnerabilities are ignored.</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-timeline-log" style="height: 450px;">
		<div class="widget-heading">
			<h6 class="">
				Most common IP Address
			</h6>
		</div>
		<div class="widget-content">
			<div id="most_common_ip_chart">
			</div>
		</div>
	</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-timeline-log" style="height: 450px;">
		<div class="widget-heading">
			<h6 class="">
				Most common Ports
			</h6>
		</div>
		<div class="widget-content">
			<div id="most_common_port_chart">
			</div>
		</div>
	</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-timeline-log" style="height: 450px;">
		<div class="widget-heading">
			<h6 class="">
				Most common Technology
			</h6>
		</div>
		<div class="widget-content">
			<div id="most_common_tech_chart">
			</div>
		</div>
	</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-activity-feed">
		<div class="widget-heading">
			<h6 class="">Activity Feed</h6>
		</div>
		<div class="widget-content">
			<div class="mt-container mx-auto">
				<div class="timeline-line">
					{% for item in activity_feed %}
					<div class="item-timeline
					{% if item.status == 0 %}
					timeline-danger
					{% elif item.status == 1 %}
					timeline-primary
					{% elif item.status == 2 %}
					timeline-success
					{% endif %}
					">
					<div class="t-dot" data-original-title="" title=""></div>
					<div class="t-text">
						<p><b>{{item.title}} {% if item.status == 2 %} {% if item.title != 'Scan Completed' %} completed {% endif %}{% elif item.status == 1 %} initiated {% elif item.status == 0 %} {% if item.title != 'Scan aborted' %} aborted {% endif %} {% endif %}</b>for {{item.scan_of.domain.name}}</p>
						<p class="t-time">{{item.time|naturaltime}}</p>
					</div>
				</div>
				{% empty %}
				Feed will be automatically generated while the scan is running.
				{% endfor %}
			</div>
		</div>
		<div class="tm-action-btn">
			<br>
		</div>
	</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-activity-feed">
		<div class="widget-heading">
			<h6 class="">Vulnerability Feed</h6>
		</div>
		<div class="widget-content">
			<div class="mt-container mx-auto">
				<div class="timeline-line">
					{% for item in vulnerability_feed %}
					<div class="item-timeline
					{% if item.severity == 0 %}
					timeline-primary
					{% elif item.severity == 1 %}
					timeline-low
					{% elif item.severity == 2 %}
					timeline-warning
					{% elif item.severity == 3 %}
					timeline-danger
					{% elif item.severity == 4 %}
					timeline-critical
					{% endif %}
					">
					<div class="t-dot" data-original-title="" title="">
					</div>
					<div class="t-text">
						<p>
							<a href='scan/detail/vuln?query={{item.id}}' class="text-muted">Discovered {{item.name}} on
								{{item.subdomain.name}}
							</a>
						</p>
						{% if item.severity == 0 %}
						<span class='badge badge-info'>Info</span>
						{% elif item.severity == 1 %}
						<span class='badge badge-low'>Low</span>
						{% elif item.severity == 2 %}
						<span class='badge badge-warning'>Medium</span>
						{% elif item.severity == 3 %}
						<span class='badge badge-danger'>High</span>
						{% elif item.severity == 4 %}
						<span class='badge badge-critical'>critical</span>
						{% endif %}
						<p class="t-time">{{item.discovered_date|naturaltime}}</p>
					</div>
				</div>
				{% empty %}
				Feed will be automatically generated while the scan is running.
				{% endfor %}
			</div>
		</div>
		<div class="tm-action-btn">
			<button class="btn"><a href='{% url 'all_vulns' %}' class='text-primary'>View All</a> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
		</div>
	</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 layout-spacing">
	<div class="widget widget-three">
		<div class="widget-heading">
			<h6 class="">Recently completed Scans</h6>
		</div>
		<div class="widget-content">
			<div class="order-summary">
				{% for item in recent_completed_scans %}
				<a href="{% url 'detail_scan' item.id %}">
					{% if item.scan_status == 2 %}
					<div class="summary-list summary-success">
						{% else %}
						<div class="summary-list summary-danger">
							{% endif %}
							<div class="summery-info">
								<div class="w-icon">
									{% if item.scan_status == 1 %}
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
									{% elif item.scan_status == 2 %}
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
									{% else %}
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
									{% endif %}
								</div>
								<div class="w-summary-details">
									<div class="w-summary-info">
										<h6>{{item.domain.name}}<br><small>{{item.start_scan_date|naturaltime}}</small></h6>
										<p class="summary-average">
											{% if item.scan_status == 0 %}
											<span class="text-danger">Failed</span>
											{% elif item.scan_status == 2 %}
											<span class="text-success"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Successful</span>
											{% elif item.scan_status == 3 %}
											<span class="text-danger">Aborted</span>
											{% else %}
											<span class="text-danger">Unknown</span>
											{% endif %}
										</p>
									</div>
									<div class="t-rate">
										<span class="badge badge-pills badge-info bs-tooltip" title="Subdomains">{{item.get_subdomain_count}}</span>
										<span class="badge badge-pills badge-warning bs-tooltip" title="Endpoints">{{item.get_endpoint_count}}</span>
										<span class="badge badge-pills badge-danger bs-tooltip" title="{{item.get_critical_vulnerability_count}} Critical, {{item.get_high_vulnerability_count}} High, {{item.get_medium_vulnerability_count}} Medium Vulnerabilities">{{item.get_vulnerability_count}}</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 layout-spacing">
		<div class="widget widget-three">
			<div class="widget-heading">
				<h6 class="">Currently Scanning</h6>
			</div>
			<div class="widget-content">
				<div class="order-summary">
					{% for item in currently_scanning %}
					<div class="summary-list summary-info">
						<a href="{% url 'detail_scan' item.id %}">
							<div class="summery-info">
								<div class="w-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
								</div>
								<div class="w-summary-details">
									<div class="w-summary-info">
										<h6>{{item.domain.name}}<br><small>{{item.start_scan_date|naturaltime}}</small></h6>
										<p class="summary-average">
											<span class="text-info">{% include 'base/_items/progress_spin.html' %}In Progress</span>
										</p>
									</div>
									<div class="t-rate">
										<span class="badge badge-pills badge-info bs-tooltip" title="Subdomains">{{item.get_subdomain_count}}</span>
										<span class="badge badge-pills badge-warning bs-tooltip" title="Endpoints">{{item.get_endpoint_count}}</span>
										<span class="badge badge-pills badge-danger bs-tooltip" title="{{item.get_critical_vulnerability_count}} Critical, {{item.get_high_vulnerability_count}} High, {{item.get_medium_vulnerability_count}} Medium Vulnerabilities">{{item.get_vulnerability_count}}</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 layout-spacing">
		<div class="widget widget-three">
			<div class="widget-heading">
				<h6 class="">Upcoming Scans</h6>
			</div>
			<div class="widget-content">
				<div class="order-summary">
					{% for item in pending_scans %}
					<div class="summary-list summary-warning">
						<div class="summery-info">
							<div class="w-icon">
								{% if item.scan_status == 1 %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
								{% elif item.scan_status == 2 %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
								{% else %}
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
								{% endif %}
							</div>
							<div class="w-summary-details">
								<div class="w-summary-info">
									<h6>{{item.domain.name}}<br><small>{{item.start_scan_date|naturaltime}}</small></h6>
									<p class="summary-average">
										<span class="text-warning">{% include 'base/_items/progress_spin.html' %}Pending</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'plugins/apex/apexchart.min.js' %}"></script>
<script type="text/javascript">
// apex charts for vulnerability summary
var options = {
	chart: {
		type: 'donut',
		width: 380
	},
	colors: ['#D50000', '#F44336', '#FF6D00', '#FFD600', '#2962FF'],
	dataLabels: {
		enabled: false
	},
	legend: {
		position: 'bottom',
		horizontalAlign: 'center',
		fontSize: '14px',
		markers: {
			width: 10,
			height: 10,
		},
		itemMargin: {
			horizontal: 0,
			vertical: 8
		}
	},
	plotOptions: {
		pie: {
			donut: {
				size: '70%',
				background: 'transparent',
				labels: {
					show: true,
					name: {
						show: true,
						fontSize: '29px',
						fontFamily: 'Nunito, sans-serif',
						color: undefined,
						offsetY: -10
					},
					value: {
						show: true,
						fontSize: '26px',
						fontFamily: 'Nunito, sans-serif',
						color: '20',
						offsetY: 16,
						formatter: function (val) {
							return val
						}
					},
					total: {
						show: true,
						showAlways: true,
						label: 'Total',
						color: '#888ea8',
						formatter: function (w) {
							return w.globals.seriesTotals.reduce( function(a, b) {
								return a + b
							}, 0)
						}
					}
				}
			}
		}
	},
	series: [{{critical_count}}, {{high_count}}, {{medium_count}}, {{low_count}}, {{info_count}}],
	labels: ['Critical', 'High', 'Medium', 'Low', 'Info'],
	responsive: [{
		breakpoint: 1599,
		options: {
			chart: {
				width: '350px',
				height: '400px'
			},
			legend: {
				position: 'bottom'
			}
		},
		breakpoint: 1439,
		options: {
			chart: {
				width: '250px',
				height: '390px'
			},
			legend: {
				position: 'bottom'
			},
			plotOptions: {
				pie: {
					donut: {
						size: '65%',
					}
				}
			}
		},
	}]
}

var chart = new ApexCharts(
	document.querySelector("#vulnerability-chart"),
	options
);

chart.render();

var label_dates = ['{{last_7_dates.6}}', '{{last_7_dates.5}}', '{{last_7_dates.4}}', '{{last_7_dates.3}}', '{{last_7_dates.2}}', '{{last_7_dates.1}}', '{{last_7_dates.0}}'];

var fill_options = {
	type:"gradient",
	gradient: {
		type: "vertical",
		shadeIntensity: 1,
		inverseColors: !1,
		opacityFrom: .40,
		opacityTo: .05,
		stops: [45, 100]
	}
}

var target_chart_option = {
	chart: {
		id: 'sparkline1',
		type: 'area',
		height: 58,
		sparkline: {
			enabled: true
		},
	},
	stroke: {
		curve: 'smooth',
		width: 2,
	},
	markers: {
		size: 0
	},
	series: [{
		name: 'Target added',
		data: [{{targets_in_last_week.0}},{{targets_in_last_week.1}},{{targets_in_last_week.2}},{{targets_in_last_week.3}},{{targets_in_last_week.4}},{{targets_in_last_week.5}},{{targets_in_last_week.6}}]
	}],
	labels: label_dates,
	yaxis: {
		min: 0
	},
	grid: {
		padding: {
			top: 0,
			bottom: 0,
			left: 0
		}
	},
	colors: ['#2196f3'],
	tooltip: {
		x: {
			show: true,
		},
	},
	fill: fill_options,
}

var chart = new ApexCharts(document.querySelector("#targets_chart"), target_chart_option);
chart.render();

var subdomains_chart_options = {
	chart: {
		id: 'sparkline1',
		type: 'area',
		height: 58,
		sparkline: {
			enabled: true
		},
	},
	stroke: {
		curve: 'smooth',
		width: 2,
	},
	markers: {
		size: 0
	},
	series: [{
		name: 'Subdomains Discovered',
		data: [{{subdomains_in_last_week.0}},{{subdomains_in_last_week.1}},{{subdomains_in_last_week.2}},{{subdomains_in_last_week.3}},{{subdomains_in_last_week.4}},{{subdomains_in_last_week.5}},{{subdomains_in_last_week.6}}]
	}],
	labels: label_dates,
	yaxis: {
		min: 0
	},
	grid: {
		padding: {
			top: 0,
			bottom: 0,
			left: 0
		}
	},
	colors: ['#4361ee'],
	tooltip: {
		x: {
			show: true,
		}
	},
	fill: fill_options,
}

var chart = new ApexCharts(document.querySelector("#subdomains_chart"), subdomains_chart_options);
chart.render();

var vuln_chart_options = {
	chart: {
		id: 'sparkline1',
		type: 'area',
		height: 58,
		sparkline: {
			enabled: true
		},
	},
	stroke: {
		curve: 'smooth',
		width: 2,
	},
	markers: {
		size: 0
	},
	grid: {
		padding: {
			top: 0,
			bottom: 0,
			left: 0
		}
	},
	series: [{
		name: 'Vulnerabilities Discovered',
		data: [{{vulns_in_last_week.0}},{{vulns_in_last_week.1}},{{vulns_in_last_week.2}},{{vulns_in_last_week.3}},{{vulns_in_last_week.4}},{{vulns_in_last_week.5}},{{vulns_in_last_week.6}}]
	}],
	labels: label_dates,
	yaxis: {
		min: 0
	},
	colors: ['#e7515a'],
	tooltip: {
		x: {
			show: true,
		}
	},
	fill: fill_options,
}

var chart = new ApexCharts(document.querySelector("#vuln_chart"), vuln_chart_options);
chart.render();

var scan_chart_options = {
	chart: {
		id: 'sparkline1',
		type: 'area',
		height: 70,
		sparkline: {
			enabled: true
		},
	},
	stroke: {
		curve: 'smooth',
		width: 2,
	},
	series: [{
		name: 'Scans Initiated',
		data: [{{scans_in_last_week.0}},{{scans_in_last_week.1}},{{scans_in_last_week.2}},{{scans_in_last_week.3}},{{scans_in_last_week.4}},{{scans_in_last_week.5}},{{scans_in_last_week.6}}]
	}],
	labels: label_dates,
	yaxis: {
		min: 0
	},
	colors: ['#8dbf42'],
	tooltip: {
		x: {
			show: true,
		}
	},
	fill: fill_options,
}

var chart = new ApexCharts(document.querySelector("#scan_chart"), scan_chart_options);
chart.render();

var endpoint_chart_options = {
	chart: {
		id: 'sparkline1',
		type: 'area',
		height: 58,
		sparkline: {
			enabled: true
		},
	},
	markers: {
		size: 0
	},
	stroke: {
		curve: 'smooth',
		width: 2,
	},
	grid: {
		padding: {
			top: 0,
			bottom: 0,
			left: 0
		}
	},
	markers: {
		size: 0
	},
	series: [{
		name: 'Endpoints Discovered',
		data: [{{endpoints_in_last_week.0}},{{endpoints_in_last_week.1}},{{endpoints_in_last_week.2}},{{endpoints_in_last_week.3}},{{endpoints_in_last_week.4}},{{endpoints_in_last_week.5}},{{endpoints_in_last_week.6}}]
	}],
	labels: label_dates,
	yaxis: {
		min: 0
	},
	colors: ['#5c1ac3'],
	tooltip: {
		x: {
			show: true,
		}
	},
	fill: fill_options,
}

var chart = new ApexCharts(document.querySelector("#endpoint_chart"), endpoint_chart_options);
chart.render();

var options = {
	series: [{
		name: "Ip is Used By Subdomains",
		data: [{{most_used_ip.6.count}}, {{most_used_ip.5.count}}, {{most_used_ip.4.count}}, {{most_used_ip.3.count}}, {{most_used_ip.2.count}}, {{most_used_ip.1.count}}, {{most_used_ip.0.count}}]
	}],
	chart: {
		type: 'bar',
		height: 350
	},
	plotOptions: {
		bar: {
			borderRadius: 4,
			horizontal: true,
		}
	},
	dataLabels: {
		enabled: false
	},
	xaxis: {
		categories: ['{{most_used_ip.6.address}}', '{{most_used_ip.5.address}}', '{{most_used_ip.4.address}}', '{{most_used_ip.3.address}}', '{{most_used_ip.2.address}}', '{{most_used_ip.1.address}}', '{{most_used_ip.0.address}}'],
}
};

var chart = new ApexCharts(document.querySelector("#most_common_ip_chart"), options);
chart.render();

var options = {
	series: [{
		name: "Ports used by IPs",
		data: [{{most_used_port.6.count}}, {{most_used_port.5.count}}, {{most_used_port.4.count}}, {{most_used_port.3.count}}, {{most_used_port.2.count}}, {{most_used_port.1.count}}, {{most_used_port.0.count}}]
	}],
	chart: {
		type: 'bar',
		height: 350
	},
	plotOptions: {
		bar: {
			borderRadius: 4,
			horizontal: true,
		}
	},
	dataLabels: {
		enabled: false
	},
	xaxis: {
		categories: ['{{most_used_port.6.number}}/{{most_used_port.6.service_name}}', '{{most_used_port.5.number}}/{{most_used_port.5.service_name}}', '{{most_used_port.4.number}}/{{most_used_port.4.service_name}}', '{{most_used_port.3.number}}/{{most_used_port.3.service_name}}', '{{most_used_port.2.number}}/{{most_used_port.2.service_name}}', '{{most_used_port.1.number}}/{{most_used_port.1.service_name}}', '{{most_used_port.0.number}}/{{most_used_port.0.service_name}}'],
}
};

var chart = new ApexCharts(document.querySelector("#most_common_port_chart"), options);
chart.render();


var options = {
	series: [{
		name: "Tech used by Subdomains",
		data: [{{most_used_tech.6.count}}, {{most_used_tech.5.count}}, {{most_used_tech.4.count}}, {{most_used_tech.3.count}}, {{most_used_tech.2.count}}, {{most_used_tech.1.count}}, {{most_used_tech.0.count}}]
	}],
	chart: {
		type: 'bar',
		height: 350
	},
	plotOptions: {
		bar: {
			borderRadius: 4,
			horizontal: true,
		}
	},
	dataLabels: {
		enabled: false
	},
	xaxis: {
		categories: ['{{most_used_tech.6.name}}', '{{most_used_tech.5.name}}', '{{most_used_tech.4.name}}', '{{most_used_tech.3.name}}', '{{most_used_tech.2.name}}', '{{most_used_tech.1.name}}', '{{most_used_tech.0.name}}'],
}
};

var chart = new ApexCharts(document.querySelector("#most_common_tech_chart"), options);
chart.render();

</script>
{% endblock page_level_script %}
