{% load static %}
<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-topbar-color="dark">
  <head>
    <meta charset="utf-8" />
    <title>reNgine Onboarding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="main-stylesheet" />
    <style>
      .accordion-item {
        border: none;
        margin-bottom: 15px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.3s ease;
      }

      .accordion-item:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }

      .accordion-button {
        background-color: #f8f9fa;
        color: #333333;
        font-weight: 500;
        padding: 15px 20px;
        transition: all 0.3s ease;
      }

      .accordion-item:first-child {
        margin-top: 0;
      }

      .accordion-button:hover {
        background-color: #e9ecef;
      }

      .accordion-button:not(.collapsed) {
        background-color: #e9ecef;
        box-shadow: none;
      }

      .accordion-button:focus {
        box-shadow: none;
        border-color: transparent;
      }

      .accordion-button::after {
        transition: transform 0.3s ease;
      }

      .accordion-button:not(.collapsed)::after {
        transform: rotate(-180deg);
      }

      .accordion-body {
        background-color: #ffffff;
        padding: 20px;
      }

      .form-control {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 10px 15px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      .form-control:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    </style>
  </head>
  <body class="authentication-bg authentication-bg-pattern">
    <div class="account-pages mt-5 mb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9">
            <form method="POST" autocomplete="off"> {% csrf_token %} <div class="card bg-pattern">
                <div class="card-body p-4">
                  <h3 class="text-center">Hey {{user.username}}! Welcome to reNgine</h3>
                  <p>To get started with reNgine, you'll need to create your first project. Projects help you organize and manage your security assessments efficiently. <a href="https://rengine.wiki/usage/projects/" target="_blank">Learn more about projects.</a>
                  </p> {% if error %} <div class="alert alert-danger">
                    {{error}}
                  </div> 
                  {% endif %} 
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="p-sm-3">
                        <h4 class="mt-0">Project</h4>
                        <div class="mb-2">
                          <label for="project_name" class="form-label">Project name</label>
                          <input class="form-control" type="text" id="project_name" name="project_name" required value="Default">
                        </div>
                        <h4 class="mt-0">Additional User</h4>
                        <p class="text-muted">You can add additional users and assign them roles. You can manage users and their roles anytime in the future.</p>
                        <div class="mb-2">
                          <label for="create_username" class="form-label">User name</label>
                          <input class="form-control" type="text" id="create_username" name="create_username" autocomplete="off">
                        </div>
                        <div class="mb-2">
                          <label for="create_password" class="form-label">Password</label>
                          <input class="form-control" type="password" id="create_password" name="create_password" autocomplete="new-password">
                        </div>
                        <div class="form">
                          <label for="create_user_role" class="form-label float-start">Role</label>
                          <select class="form-select" id="create_user_role" name="create_user_role">
                            <option value='sys_admin'>Sys Admin</option>
                            <option value='penetration_tester'>Penetration Tester</option>
                            <option value='auditor'>Auditor</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="p-sm-3">
                        <h4 class="mt-lg-0">API Keys</h4>
                        <p class="text-muted mb-2">If you have API keys for these services, please enter them here.</p>
                        <div class="accordion" id="apiKeysAccordion">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOpenAI">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOpenAI" aria-expanded="true" aria-controls="collapseOpenAI">OpenAI</button>
                            </h2>
                            <div id="collapseOpenAI" class="accordion-collapse collapse" aria-labelledby="headingOpenAI" data-bs-parent="#apiKeysAccordion">
                              <div class="accordion-body">
                                <p class="text-muted">OpenAI keys will be used to generate vulnerability description, remediation, impact and vulnerability report writing using ChatGPT.</p> {% if openai_key %} <input class="form-control" type="text" id="key_openai" name="key_openai" placeholder="Enter OpenAI Key" value="{{openai_key}}"> {% else %} <input class="form-control" type="text" id="key_openai" name="key_openai" placeholder="Enter OpenAI Key"> {% endif %} <small class="text-muted float-end mt-2 mb-2">This is optional but recommended.</small>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNetlas">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNetlas" aria-expanded="false" aria-controls="collapseNetlas"> Netlas </button>
                            </h2>
                            <div id="collapseNetlas" class="accordion-collapse collapse" aria-labelledby="headingNetlas" data-bs-parent="#apiKeysAccordion">
                              <div class="accordion-body">
                                <p class="text-muted">Netlas keys will be used to get whois information and other OSINT data.</p> {% if netlas_key %} <input class="form-control" type="text" id="key_netlas" name="key_netlas" placeholder="Enter Netlas Key" value="{{netlas_key}}"> {% else %} <input class="form-control" type="text" id="key_netlas" name="key_netlas" placeholder="Enter Netlas Key"> {% endif %} <small class="text-muted float-end mt-2 mb-2">This is optional</small>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingChaos">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChaos" aria-expanded="false" aria-controls="collapseChaos"> Chaos by Project Discovery </button>
                            </h2>
                            <div id="collapseChaos" class="accordion-collapse collapse" aria-labelledby="headingChaos" data-bs-parent="#apiKeysAccordion">
                              <div class="accordion-body">
                                <p class="text-muted">Chaos keys enhance your reconnaissance capabilities by providing subdomain enumeration and valuable data for Public Bug Bounty Programs.</p> {% if chaos_key %} <input class="form-control" type="text" id="key_chaos" name="key_chaos" placeholder="Enter Chaos Key" value="{{chaos_key}}"> {% else %} <input class="form-control" type="text" id="key_chaos" name="key_chaos" placeholder="Enter Chaos Key"> {% endif %} <small class="text-muted float-end mt-2 mb-2">This is optional but recommended. Get your API key from <a href="https://cloud.projectdiscovery.io" target="_blank">https://cloud.projectdiscovery.io</a>
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingHackerone">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHackerone" aria-expanded="false" aria-controls="collapseChaos"> Hackerone </button>
                            </h2>
                            <div id="collapseHackerone" class="accordion-collapse collapse" aria-labelledby="headingHackerone" data-bs-parent="#apiKeysAccordion">
                              <div class="accordion-body">
                                <div class="row">
                                  <p class="text-muted">Hackerone Keys can be used to import targets, bookmarked programs, and submit automated vulnerability report to Hackerone. This is a bug bounty specific feature.</p> 
                                  </small>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <label for="hackerone_username"  class="form-label">Hackerone Username (Not email)</label>
                                    {% if hackerone_username %} <input class="form-control" type="text" id="username_hackerone" name="username_hackerone" placeholder="Enter Hackerone Username" value="{{hackerone_username}}"> {% else %} <input class="form-control" type="text" id="username_hackerone" name="username_hackerone" placeholder="Enter Hackerone Username"> {% endif %}
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <label for="hackerone_api_token" class="form-label">Generate your <a href="https://hackerone.com/settings/api_token/edit" target="_blank">API Token from here <i class="fe-external-link"></i></a></label>
                                    <div class="flex-grow-1 position-relative">
                                    {% if hackerone_key %} <input class="form-control" type="text" id="key_hackerone" name="key_hackerone" placeholder="Enter Hackerone Key" value="{{hackerone_key}}"> {% else %} <input class="form-control" type="text" id="key_hackerone" name="key_hackerone" placeholder="Enter Hackerone Token"> {% endif %}
                                    </div>
                                  </div>
                                  <div class="col-12">
                                    <small class="text-muted float-end mt-2 mb-2">This is optional but recommended for bug hunters. Get your API key from <a href="https://api.hackerone.com/getting-started-hacker-api/#getting-started-hacker-api" class="text-primary" target="_blank">Hackerone Documentation</a>
                                  </div
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-0">
                    <button class="btn btn-info float-sm-end my-4" type="submit"> Proceed </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
  </body>
</html>