.vertical-align-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.badge-low {
	color: #fff;
	background-color: #FFD600;
}

.text-low {
	color: #FFD600;
}

.text-critical {
	color: #AA2C00;
}

.badge-critical {
	color: #fff;
	background-color: #AA2C00;
}

.table-secondary.text-strike {
	text-decoration: line-through;
	text-decoration-color: #6c757d;
}

.widget-activity-feed {
	padding-right: 0;
	padding-left: 0;
}

.widget-activity-feed .mt-container {
	position: relative;
	height: 180px;
	overflow: auto;
	padding-right: 12px;
}

.widget-activity-feed .widget-heading {
	padding: 0 20px;
}

.widget-activity-feed .widget-content {
	padding: 0 8px 0 20px;
}

.widget-activity-feed .timeline-line .item-timeline {
	display: flex;
	width: 100%;
	margin-bottom: 12px;
}

.widget-activity-feed .timeline-line .item-timeline .t-dot {
	position: relative;
}

.widget-activity-feed .timeline-line .item-timeline .t-dot:before {
	content: '';
	position: absolute;
	border-color: inherit;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	top: 5px;
	left: 5px;
	transform: translateX(-50%);
	border-color: #e0e6ed;
	background: #bfc9d4;
	z-index: 1;
}

.widget-activity-feed .timeline-line .item-timeline .t-dot:after {
	content: '';
	position: absolute;
	border-color: inherit;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	left: 5px;
	transform: translateX(-50%);
	border-color: #e0e6ed;
	width: 0;
	height: auto;
	top: 12px;
	bottom: -19px;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
}

.widget-activity-feed .timeline-line .item-timeline.timeline-primary .t-dot:before {
	background-color: #1b55e2;
	border-color: rgb(164, 189, 247);
}

.widget-activity-feed .timeline-line .item-timeline.timeline-success .t-dot:before {
	background-color: #009688;
	border-color: rgb(154, 210, 205);
}

.widget-activity-feed .timeline-line .item-timeline.timeline-danger .t-dot:before {
	background-color: #e7515a;
	border-color: rgb(241, 172, 176);
}

.widget-activity-feed .timeline-line .item-timeline.timeline-dark .t-dot:before {
	background-color: #3b3f5c;
	border-color: rgb(159, 163, 187);
}

.widget-activity-feed .timeline-line .item-timeline.timeline-secondary .t-dot:before {
	background: #1b55e2;
	border-color: #c2d5ff;
}

.widget-activity-feed .timeline-line .item-timeline.timeline-warning .t-dot:before {
	background-color: #e2a03f;
	border-color: rgb(222, 199, 165);
}

.widget-activity-feed .timeline-line .item-timeline.timeline-low .t-dot:before {
	background-color: #FFD600;
	border-color: rgb(255, 213, 0);
}

.widget-activity-feed .timeline-line .item-timeline.timeline-critical .t-dot:before {
	background-color: #AA2C00;
	border-color: rgb(170, 45, 0);
}

.widget-activity-feed .timeline-line .item-timeline:last-child .t-dot:after {
	display: none;
}

.widget-activity-feed .timeline-line .item-timeline .t-meta-time {
	margin: 0;
	min-width: 100px;
	max-width: 100px;
	font-size: 12px;
	font-weight: 700;
	color: #888ea8;
	align-self: center;
}

.widget-activity-feed .timeline-line .item-timeline .t-text {
	align-self: center;
	margin-left: 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.widget-activity-feed .timeline-line .item-timeline .t-text p {
	font-size: 12px;
	margin: 0;
	color: #888ea8;
	font-weight: 400;
}

.widget-activity-feed .timeline-line .item-timeline .t-text span.badge {
	position: absolute;
	right: 11px;
	padding: 2px 4px;
	font-size: 11px;
	letter-spacing: 1px;
	opacity: 0;
	font-weight: 400;
}

.widget-activity-feed .timeline-line .item-timeline .t-text span.badge {
	transform: none;
}

.widget-activity-feed .timeline-line .item-timeline:hover .t-text span.badge {
	opacity: 1;
}

.widget-activity-feed .timeline-line .item-timeline .t-text p.t-time {
	text-align: right;
	color: #888ea8;
	font-size: 10px;
}

.widget-activity-feed .timeline-line .item-timeline .t-time {
	margin: 0;
	min-width: 80px;
	max-width: 80px;
	font-size: 13px;
	font-weight: 600;
	color: #acb0c3;
	letter-spacing: 1px;
}

.widget-activity-feed .tm-action-btn {
	text-align: center;
	padding-top: 20px;
}

.widget-activity-feed .tm-action-btn button {
	background: transparent;
	box-shadow: none;
	padding: 0;
	color: #1b55e2;
	font-weight: 600;
	letter-spacing: 0.5px;
	border: none;
	font-size: 15px;
}

.widget-activity-feed .tm-action-btn svg {
	width: 15px;
	height: 15px;
	vertical-align: inherit;
}

.widget.widget-one .w-chart .w-chart-section.primary-card {
	background-color: #eaf1ff;
}

.widget.widget-one .w-chart .w-chart-section.danger-card {
	background-color: #fff5f5;
}

.widget.widget-one .w-chart .w-chart-section.info-card {
	background-color: #e7f7ff;
}

.widget.widget-one .w-chart .w-chart-section.purple-card {
	background-color: #f3effc;
}

.widget.widget-one .w-chart .w-chart-section.info-card {
	background-color: #e7f7ff;
}

.widget.widget-one .w-chart .w-chart-section.info-card .w-title,
.widget.widget-one .w-chart .w-chart-section.warning-card .w-stats,
.widget.widget-one .w-chart .w-chart-section.warning-card a {
	color: #2196f3;
}

.widget.widget-one .w-chart .w-chart-section.primary-card .w-title,
.widget.widget-one .w-chart .w-chart-section.primary-card .w-stats,
.widget.widget-one .w-chart .w-chart-section.primary-card a {
	color: #4361ee;
}

.widget.widget-one .w-chart .w-chart-section.purple-card .w-title,
.widget.widget-one .w-chart .w-chart-section.purple-card .w-stats,
.widget.widget-one .w-chart .w-chart-section.purple-card a {
	color: #805dca;
}

.widget.widget-one .w-chart .w-chart-section.danger-card .w-title,
.widget.widget-one .w-chart .w-chart-section.danger-card .w-stats,
.widget.widget-one .w-chart .w-chart-section.danger-card a {
	color: #e7515a;
}

.widget.widget-one .w-chart .w-chart-section.info-card .w-title,
.widget.widget-one .w-chart .w-chart-section.info-card .w-stats,
.widget.widget-one .w-chart .w-chart-section.info-card a {
	color: #2196f3;
}

.widget-three .widget-content .summary-list.summary-success {
	background: #ddf5f0;
}

.widget-three .widget-content .summary-list.summary-danger {
	background: #fff5f5;
}

.widget-three .widget-content .summary-list.summary-warning {
	background: #fff9ed;
}

.widget-three .widget-content .summary-list.summary-info {
	background: #eaf1ff;
}

.activity-log .mt-container {
	position: relative;
	height: 160px;
	overflow: auto;
	padding-right: 12px;
}

.widget-timelime-log .timeline-line .item-timeline .t-time {
	margin: 0;
	min-width: 150px;
	max-width: 150px;
	font-size: 11px;
	font-weight: 600;
	color: #e3e4eb;
	letter-spacing: 1px;
}

div.dataTables_wrapper div.dataTables_filter input {
	width: 100%;
	float: left;
	transition: all .2s ease-in-out;
}

div.dataTables_wrapper div.dataTables_filter input:focus {
	width: 300%;
	transform: scale(1);
}

div.dataTables_wrapper div.dataTables_length {
	float: right;
}

div.dataTables_wrapper div.dataTables_filter {
	text-align: left;
}

.navbar .navbar-item .nav-item .form-inline.search .search-form-control {
	width: 420px;
	color: #fff;
}

.new-control.new-checkbox .new-control-indicator {
	top: 0;
	height: 22px;
	width: 22px;
	border-radius: 50%;
}

.widget.widget-ip {
	position: relative;
	background: #fff;
	border-radius: 6px;
	height: 250px;
	padding: 0;
}

.widget.widget-ip .widget-heading {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed #e0e6ed;
	padding: 20px 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
}

.widget-ip .widget-content {
	padding: 0px 0px 0px 0px;
}

.widget-ip .mt-container {
	position: relative;
	height: 150px;
	overflow: auto;
	padding: 15px 12px 0 12px;
}

.widget-timeline-log {
	height: auto;
}

.widget-timeline-log .widget-content {
	padding: 7px 7px 0px 0px;
}

.widget-timeline-log .w-shadow-top {
	display: block;
	position: absolute;
	z-index: 2;
	height: 17px;
	width: 97%;
	pointer-events: none;
	margin-top: -10px;
	left: 2px;
	-webkit-filter: blur(9px);
	filter: blur(9px);
	background: -webkit-linear-gradient(180deg, #060818 44%, #060818eb 73%, #2C303C00);
	background: linear-gradient(180deg, #ffffff 44%, #ffffffde 73%, #2C303C00);
}

.widget-timeline-log .w-shadow-bottom {
	display: block;
	position: absolute;
	z-index: 2;
	height: 17px;
	width: 97%;
	pointer-events: none;
	margin-top: -3px;
	left: 2px;
	-webkit-filter: blur(9px);
	filter: blur(9px);
	background: -webkit-linear-gradient(180deg, #ffffff 44%, #ffffffde 73%, #2C303C00);
	background: linear-gradient(180deg, #ffffff 44%, #ffffffde 73%, #2C303C00);
}

.widget-timeline-log .mt-container {
	position: relative;
	height: 205px;
	overflow: auto;
	padding: 7px 7px 0 7px;
}

.widget-timeline-log .timeline-line .item-timeline {
	display: flex;
	margin-bottom: 35px;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot {
	position: relative;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div {
	background: transparent;
	border-radius: 50%;
	padding: 5px;
	margin-right: 11px;
	display: flex;
	height: 32px;
	justify-content: center;
	width: 32px;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-primary {
	background-color: #c2d5ff;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-primary svg {
	color: #4361ee;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-secondary {
	background-color: #dccff7;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-secondary svg {
	color: #805dca;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-success {
	background-color: #c7e6e4;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-success svg {
	color: #009688;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-danger {
	background-color: #ffe1e2;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-danger svg {
	color: #e7515a;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-warning {
	background-color: #ffeccb;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-warning svg {
	color: #e2a03f;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-dark {
	background-color: #acb0c3;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot div.t-dark svg {
	color: #3b3f5c;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot svg {
	color: #fff;
	height: 15px;
	width: 15px;
	align-self: center;
}

.widget-timeline-log .timeline-line .item-timeline .t-content {
	width: 100%;
}

.widget-timeline-log .timeline-line .item-timeline .t-content .t-uppercontent {
	display: flex;
	justify-content: space-between;
}

.widget-timeline-log .timeline-line .item-timeline .t-content .t-uppercontent h5 {
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 600;
	margin-bottom: 0;
}

.widget-timeline-log .timeline-line .item-timeline .t-content .t-uppercontent span {
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 600;
	color: #009688;
}

.widget-timeline-log .timeline-line .item-timeline .t-content p {
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 600;
	color: #888ea8;
}

.widget-timeline-log .timeline-line .item-timeline .t-content p a {
	font-weight: 700;
}

.widget-timeline-log .timeline-line .item-timeline .t-dot:after {
	content: '';
	position: absolute;
	border-width: 1px;
	border-style: solid;
	left: 39%;
	transform: translateX(-50%);
	border-color: #bfc9d4;
	width: 0;
	height: auto;
	top: 45px;
	bottom: -23px;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
}

.widget-timeline-log .timeline-line .item-timeline:last-child .t-dot:after {
	display: none;
}

.bs-tooltip {
	z-index: 100000000;
}

.form-control-file {
	color: #000;
}

.gridzy img {
	width: auto;
	height: auto;
	max-width: none;
	max-height: none;
	min-width: 0;
	min-height: 0;
}

.anychart-credits-logo {
	display: none;
}

.anychart-credits-text {
	display: none;
}

.badge-link {
	cursor: pointer;
}

.node {
	cursor: pointer;
}

.overlay {
	background-color: #EEE;
}

.node text {
	font-size: 10px;
	font-family: sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.outer-div {
	width: 100%;
	text-align: center;
}

.inner-div {
	display: inline-block;
}

.text-strike {
	text-decoration: line-through;
	text-decoration-color: #6c757d;
}

.list-inline {
	float: left;
	background: trasparent;
	position: absolute;
	left: -110px;
	top: 12px;
	height: 40px;
}

div.item {
	position: relative;
}


/* widget timeline log */
.widget-timelime-scanactivity {
	padding-right: 0;
	padding-left: 0;
}

.widget-timelime-scanactivity .widget-heading {
	margin-bottom: 28px;
	padding: 0 20px;
}

.widget-timelime-scanactivity .widget-heading .w-icon {
	position: absolute;
	right: 20px;
	top: 15px;
}

.widget-timelime-scanactivity .widget-heading .w-icon a {
	padding: 6px;
	border-radius: 10px;
	padding: 6px;
	background: #c7e6e4 !important;
	border: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.widget-timelime-scanactivity .widget-heading .w-icon a svg {
	color: #009688;
}

.widget-timelime-scanactivity .mt-container {
	position: relative;
	height: 176px;
	overflow: auto;
	padding-right: 12px;
}

.widget-timelime-scanactivity .widget-content {
	padding: 0 8px 0 20px;
}

.widget-timelime-scanactivity .timeline-line .item-timeline {
	display: flex;
	width: 100%;
	padding: 8px 0;
	transition: .5s;
	position: relative;
	border-radius: 6px;
	cursor: pointer;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-dot {
	position: relative;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-dot:before {
	content: '';
	position: absolute;
	border-color: inherit;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	top: 7px;
	left: 5px;
	transform: translateX(-50%);
	border-color: #e0e6ed;
	background: #bfc9d4;
	z-index: 1;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-dot:after {
	position: absolute;
	border-color: inherit;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	left: 5px;
	transform: translateX(-50%);
	border-color: #e0e6ed;
	width: 0;
	height: auto;
	top: 12px;
	bottom: -19px;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-primary .t-dot:before {
	background: #eaf1ff;
	border: 2px solid rgba(27, 85, 226, 0.33);
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-success .t-dot:before {
	background-color: #ddf5f0;
	border: 2px solid #9ad2cd;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-danger .t-dot:before {
	background-color: #fff5f5;
	border: 2px solid #f1acb0;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-dark .t-dot:before {
	background-color: #e3e4eb;
	border: 2px solid #9fa3bb;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-secondary .t-dot:before {
	background: #f3effc;
	border: 2px solid rgba(92, 26, 195, 0.35);
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-warning .t-dot:before {
	background-color: #fff9ed;
	border: 2px solid #dec7a5;
}

.widget-timelime-scanactivity .timeline-line .item-timeline:last-child .t-dot:after {
	display: none;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-meta-time {
	margin: 0;
	min-width: 100px;
	max-width: 100px;
	font-size: 12px;
	font-weight: 700;
	color: #888ea8;
	align-self: center;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-text {
	align-self: center;
	margin-left: 14px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	transition: .5s;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-text p {
	margin: 0;
	font-size: 13px;
	letter-spacing: 0;
	font-weight: 600;
	margin-bottom: 0;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-text p a {
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 600;
	color: #009688;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-text span.badge {
	position: absolute;
	right: -1px;
	padding: 2px 4px;
	font-size: 10px;
	letter-spacing: 1px;
	opacity: 0;
	font-weight: 600;
	transform: none;
	top: 6px;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-primary .t-text span.badge {
	color: #4361ee;
	border: 1px solid #4361ee;
	background-color: #eaf1ff;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-secondary .t-text span.badge {
	color: #805dca;
	border: 1px solid #805dca;
	background-color: #f3effc;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-danger .t-text span.badge {
	color: #e7515a;
	border: 1px solid #e7515a;
	background-color: #fff5f5;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-warning .t-text span.badge {
	color: #e2a03f;
	border: 1px solid #e2a03f;
	background-color: #fff9ed;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-success .t-text span.badge {
	color: #009688;
	border: 1px solid #009688;
	background-color: #ddf5f0;
}

.widget-timelime-scanactivity .timeline-line .item-timeline.timeline-dark .t-text span.badge {
	color: #3b3f5c;
	border: 1px solid #3b3f5c;
	background-color: #e3e4eb;
}

.widget-timelime-scanactivity .timeline-line .item-timeline:hover .t-text span.badge {
	opacity: 1;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-text p.t-time {
	text-align: right;
	color: #888ea8;
	font-size: 10px;
}

.widget-timelime-scanactivity .timeline-line .item-timeline .t-time {
	margin: 0;
	min-width: 80px;
	max-width: 80px;
	font-size: 13px;
	font-weight: 600;
	color: #e3e4eb;
	letter-spacing: 1px;
}

.widget-timelime-scanactivity .tm-action-btn {
	text-align: center;
	padding-top: 19px;
}

.widget-timelime-scanactivity .tm-action-btn button {
	background: transparent;
	box-shadow: none;
	padding: 0;
	color: #030305;
	font-weight: 800;
	letter-spacing: 0;
	border: none;
	font-size: 14px;
}

.widget-timelime-scanactivity .tm-action-btn button:hover {
	transform: translateY(0);
}

.widget-timelime-scanactivity .tm-action-btn button span {
	margin-right: 6px;
	display: inline-block;
	transition: .5s;
}

.widget-timelime-scanactivity .tm-action-btn button:hover span {
	transform: translateX(-6px);
}

.widget-timelime-scanactivity .tm-action-btn svg {
	width: 17px;
	height: 17px;
	vertical-align: sub;
	color: #e3e4eb;
	stroke-width: 2.5px;
	transition: .5s;
}

.widget-timelime-scanactivity .tm-action-btn button:hover svg {
	transform: translateX(6px);
}


/* Source https://www.codingnepalweb.com/search-bar-autocomplete-search-suggestions-javascript/ */
.wrapper{
	margin-bottom: 20px;
}

.wrapper .search-input{
	background: #fff;
	width: 100%;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
	height: 55px;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
	border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
	max-height: 250px;
	position: absolute;
	z-index: 1000000;
	background: #fff;
	opacity: 0;
	width: 100%;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active .autocom-box{
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.autocom-box li{
	list-style: none;
	padding: 8px 12px;
	display: none;
	width: 100%;
	cursor: default;
	border-radius: 3px;
}

.search-input.active .autocom-box li{
	display: block;
}
.autocom-box li:hover{
	background: #efefef;
}

.search-input .icon{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 55px;
	width: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
	color: #644bff;
	cursor: pointer;
}


div.dataTables_wrapper div.dataTables_processing {
	top: 5%;
}
