{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block title %}
Scan history - Endpoints
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<script src="{% static 'custom/custom.js' %}"></script>
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
{% if scan_history_id %}
Detailed Scan for {{history.domain_name}} - Endpoints
{% else %}
All Endpoints
{% endif %}
{% endblock breadcrumb_title %}


{% block main_content %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-px-spacing">
  <div class="row mb-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="endpointDiscovered">
      <div class="widget-content widget-content-area br-6 layout-top-spacing">
        <h5 class="text-info">Endpoints</h5>
        {% if endpoint_count %}
        <a href="../export/endpoints/{{scan_history_id}}" class="btn btn-info mb-2 mt-4">Export Endpoints(txt format)</a>
        {% endif %}
        <div class="table-responsive mb-4 mt-4">
          <table class="multi-table table table-striped table-bordered table-hover" style="width:100%" id="endpoint_results">
            <thead>
              <tr>
                <th>Endpoint</th>
                <th>HTTP Status</th>
                <th>Content Type</th>
                <th>Content Length</th>
                <th>Page Title</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<script src="{% static 'custom/custom.js' %}"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
// collapse sidebar only when screen size is > md (bootstrap), for smaller screen theme already hides the sidebar
if ($(window).width() > 992) {
  $( document ).ready(function() {
    $("html, body").addClass("sidebar-noneoverflow");
    $("#container").addClass("sidebar-closed");
    $("header").addClass("expand-header");
  });
}
</script>
<script type="text/javascript">
$(document).ready(function() {
  $('#endpoint_results').DataTable({
    "oLanguage": {
      "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
      "sInfo": "Showing page _PAGE_ of _PAGES_",
      "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
      "sSearchPlaceholder": "Search...",
      "sLengthMenu": "Results :  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [20, 50, 100, 500, 1000],
    "pageLength": 20,
    'serverSide': true,
    {% if scan_history_id %}
    "ajax": '/start_scan/api/listEndpoints/?url_of={{scan_history_id}}&format=datatables',
    {% else %}
    "ajax": '/start_scan/api/listEndpoints/?url_of=&format=datatables',
    {% endif %}
    "order": [[ 3, "desc" ]],
    "columns": [
      {'data': 'http_url'},
      {'data': 'http_status'},
      {'data': 'content_type'},
      {'data': 'content_length'},
      {'data': 'page_title'},
    ],
    "columnDefs": [
      {
        "render": function ( data, type, row ) {
          return "<a href='"+data+"' target='_blank' class='text-info'>"+data+"</a>";
        },
        "targets": 0,
      },
      {
        "render": function ( data, type, row ) {
          // display badge based on http status
          // green for http status 2XX, orange for 3XX and warning for everything else
          if (data >= 200 && data < 300) {
            return "<span class='badge badge-pills badge-success'>"+data+"</span>";
          }
          else if (data >= 300 && data < 400) {
            return "<span class='badge badge-pills badge-warning'>"+data+"</span>";
          }
          else if (data == 0){
            // datatable throws error when no data is returned
            return "";
          }
          return "<span class='badge badge-pills badge-danger'>"+data+"</span>";

        },
        "targets": 1,
      },
      {
        "render": function ( data, type, row ) {
          if (data){
            return htmlEncode(data);
          }
          return "";
        },
        "targets": 4,
      },
    ],
    drawCallback: function () {
      $('.t-dot').tooltip({ template: '<div class="tooltip status" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' })
      $('.dataTables_wrapper table').removeClass('table-striped');
    }
  });
});
</script>
{% endblock page_level_script %}
