{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block title %}
Scan history - Vulnerabilities
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/elements/custom-tree_view.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/lightbox/css/lightbox.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/apex/apexcharts.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'custom/custom.js' %}"></script>
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
{% if scan_history_id %}
Detailed Scan for {{history.domain_name}} - Vulnerabilities
{% else %}
All Vulnerabilities
{% endif %}
{% endblock breadcrumb_title %}


{% block main_content %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-px-spacing">
	<div class="row layout-top-spacing mb-4" id="vulnerabilityDiscovered">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="widget-content widget-content-area br-6">
				<h5 class="text-danger">Vulnerability Scan Results</h5>
				<div class="table-responsive mb-4 mt-4">
					<table id="vulnerability_results" class="table table-hover">
						<thead>
							<tr>
								<th class="checkbox-column text-center">Status</th>
								<th>Title</th>
								<th>Severity</th>
								<th>Vulnerable URL</th>
								<th>Description</th>
								<th>Last Seen</th>
								<th>Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<script src="{% static 'plugins/lightbox/js/lightbox.js' %}"></script>
<script src="{% static 'plugins/apex/apexchart.min.js' %}"></script>
<script src="{% static 'assets/js/dashboard/dash_1.js' %}"></script>
<script src="{% static 'custom/custom.js' %}"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
// collapse sidebar only when screen size is > md (bootstrap), for smaller screen theme already hides the sidebar
if ($(window).width() > 992) {
	$( document ).ready(function() {
		$("html, body").addClass("sidebar-noneoverflow");
		$("#container").addClass("sidebar-closed");
		$("header").addClass("expand-header");
	});
}
</script>
<script type="text/javascript">
$(document).ready(function() {
	$('#vulnerability_results').DataTable({
		"oLanguage": {
			"oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
			"sInfo": "Showing page _PAGE_ of _PAGES_",
			"sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
			"sSearchPlaceholder": "Search...",
			"sLengthMenu": "Results :  _MENU_",
		},
		"stripeClasses": [],
		"lengthMenu": [20, 50, 100, 500, 1000],
		"pageLength": 20,
		'serverSide': true,
		'order': [2, 'desc'],
		{% if scan_history_id %}
		"ajax": '/start_scan/api/listVulnerability/?vulnerability_of={{scan_history_id}}&format=datatables',
		{% else %}
		{% if request.GET.query %}
		"ajax": '/start_scan/api/listVulnerability/?vulnerability_of=&format=datatables&query_param={{request.GET.query}}',
		{% else %}
		"ajax": '/start_scan/api/listVulnerability/?vulnerability_of=&format=datatables',
		{% endif %}
		{% endif %}
		"columns": [
			{'data': 'id'},
			{'data': 'name'},
			{'data': 'severity'},
			{'data': 'url'},
			{'data': 'description'},
			{'data': 'discovered_date'},
			{'data': 'open_status'},
			{'data': 'matcher_name'},
		],
		"columnDefs": [
			{
				"targets": [ 7 ],
				"visible": false,
				"searchable": false,
			},
			{
				"render": function ( data, type, row ) {
					if(row['open_status']){
						return `<input type="checkbox" class="new-control-input text-center" onchange="vuln_status_change(this, `+data+`);">`;
					}
					else{
						return `<input type="checkbox" class="new-control-input text-center" checked onchange="vuln_status_change(this, `+data+`);">`;
					}
				},
				"targets": 0,
			},
			{
				"render": function ( data, type, row ) {
					switch (data) {
						case 0:
						return "<span class='badge badge-info'>Info</span>";
						break;
						case 1:
						return "<span class='badge badge-low'>Low</span>";
						break;
						case 2:
						return "<span class='badge badge-warning'>Medium</span>";
						break;
						case 3:
						return "<span class='badge badge-danger'>High</span>";
						break;
						case 4:
						return "<span class='badge badge-critical'>Critical</span>";
						break;
						default:
						return "";
					}
					// return data;
				},
				"targets": 2,
			},
			{
				"render": function ( data, type, row ) {
					return "<a href='"+data+"' target='_blank' class='text-danger'>"+data+"</a>";
				},
				"targets": 3,
			},
			{
				"render": function ( data, type, row ) {
					// Could be better
					if (data && row['matcher_name']) {
						return data + "\n" + row['matcher_name'];
					}
					else if (data) {
						return data;
					}
					else if (row['matcher_name']) {
						return row['matcher_name'].charAt(0).toUpperCase() + row['matcher_name'].slice(1);
					}
					else {
						return "";
					}
				},
				"targets": 4,
			},
			{
				"render": function ( data, type, row ) {
					return data;
				},
				"targets": 5,
			},
			{
				"render": function ( data, type, row ) {
					if (data){

						return '<div class="t-dot bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Open"></div>'
					}
					else{
						return '<div class="t-dot bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Closed"></div>'
					}
				},
				"targets": 6,
			},
		],
		drawCallback: function () {
			$('.t-dot').tooltip({ template: '<div class="tooltip status" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' })
			$('.dataTables_wrapper table').removeClass('table-striped');
		},
		'createdRow': function( row, data, dataIndex ) {
			if (!data['open_status']){
				$(row).addClass('table-secondary');
			}
		},
	});
});

function vuln_status_change(checkbox, id)
{
	if (checkbox.checked) {
		checkbox.parentNode.parentNode.className = "table-secondary";
	}
	else {
		checkbox.parentNode.parentNode.classList.remove("table-secondary");
	}
	change_vuln_status(id);
}

</script>
{% endblock page_level_script %}
