amqp==2.6.1
asgiref==3.2.10
billiard==3.6.3.0
celery==4.4.7
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
Django==3.0.7
django-ace==1.0.7
django-celery-beat==2.0.0
django-login-required-middleware==0.5.0
django-timezone-field==4.0
djangorestframework==3.12.1
djangorestframework-datatables==0.5.2
dnspython==2.0.0
gunicorn==20.0.4
idna==2.10
kombu==4.6.11
psycopg2==2.8.5
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
validators==0.18.1
vine==1.3.0
tldextract
django-mathfilters
