<div class="row justify-content-center">
	<div class="col-xl-8 col-lg-8 col-sm-8">
		<div class="<wrap></wrap>per">
			<div class="search-input" id="endpoint-search-input">
				<a href="" target="_blank" hidden></a>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Filter Endpoints" aria-label="Filter Endpoints" id="endpoints-search">
					<div class="input-group-append">
						<button id="endpoint-search-button" class="btn btn-primary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> Search</button>
					</div>
				</div>
				<div class="autocom-box mt-container mx-auto endpoint-search" id="autocom-box">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mt-4">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div class="btn-group mb-2 float-end dropstart">
							<button class="btn btn-soft-info dropdown-toggle ms-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Endpoint Grouping">
								<i class="fe-layout"></i>
							</button>
							<div class="dropdown-menu" style="">
								<div class="dropdown-item">
									<div class="form-check">
										<input type="radio" id="endpoint_page_title_grouping" name="grouping_endpoint_row" class="form-check-input" value="page_title">
										<label class="form-check-label" for="endpoint_page_title_grouping">Page Title</label>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="form-check">
										<input type="radio" id="endpoint_http_status_grouping" name="grouping_endpoint_row" class="form-check-input" value="http_status">
										<label class="form-check-label" for="endpoint_http_status_grouping">HTTP Status</label>
									</div>
								</div>
							</div>
							<button class="btn btn-soft-primary dropdown-toggle ms-1 me-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Filter Columns">
								<i class="fe-filter"></i>
							</button>
							<div class="dropdown-menu" style="">
								<div class="dropdown-item">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="end_http_status_filter_checkbox" name="end_http_status_filter_checkbox" checked>
										<label class="form-check-label" for="end_http_status_filter_checkbox">HTTP Status</label>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="end_page_title_filter_checkbox" name="end_page_title_filter_checkbox" checked>
										<label class="form-check-label" for="end_page_title_filter_checkbox">Page Title</label>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="end_tags_filter_checkbox" name="end_tags_filter_checkbox" checked>
										<label class="form-check-label" for="end_tags_filter_checkbox">Tags</label>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="end_content_type_filter_checkbox" name="end_content_type_filter_checkbox" checked>
										<label class="form-check-label" for="end_ports_filter_checkbox">Content Type</label>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="end_content_length_filter_checkbox" name="end_content_length_filter_checkbox" checked>
										<label class="form-check-label" for="end_content_length_filter_checkbox">Content Length</label>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="end_response_time_filter_checkbox" name="end_response_time_filter_checkbox" checked>
										<label class="form-check-label" for="end_response_time_filter_checkbox">Response Time</label>
									</div>
								</div>
							</div>
							<button class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fe-download"></i>
							</button>
							<div class="dropdown-menu" style="">
								{% if detail_scan %}
									<a class="dropdown-item" href="javascript:download_endpoints({{scan_history_id}}, '{{history.domain.name}}')">Download All Endpoints</a>
									{% if 'fetch_url' in history.tasks and history.used_gf_patterns%}
										{% for key,value in matched_gf_count.items %}
											{% if value > 0 %}
												<a class="dropdown-item" href="javascript:download_endpoints({{scan_history_id}}, '{{history.domain.name}}', '{{key}}')">Download Endpoints with pattern {{key|upper}}</a>
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endif %}

								{% if target_summary %}
									<a class="dropdown-item" href="javascript:download_endpoints(scan_id=null, domain_id={{target.id}}, domain_name='{{target.name}}', pattern=null)">Download All Endpoints</a>
								{% endif %}

								{% if all_endpoints %}
									<a class="dropdown-item" href="javascript:download_endpoints()">Download All Endpoints</a>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-12">
						<table id="endpoint_results" class="table dt-responsive w-100">
							<thead>
								<tr>
									<th>ID</th>
									<th>HTTP URL</th>
									<th>Status</th>
									<th>Page Title</th>
									<th>Tags</th>
									<th>Content Type</th>
									<th>Content Length</th>
									<th>Technology</th>
									<th>Webserver</th>
									<th>Response time</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
