{% load mathfilters %}
<div class="card" style="height: 95%">
  <div class="card-body">
    <h4 class="header-title mb-3"><span class="text-danger me-1"><i class="fas fa-bug"></i></span>{{most_vuln_widget_title}}<span class="float-end"><span class="badge badge-soft-danger rounded-pill">{{total_vul_ignore_info_count}} Vulnerabilities</span></span>
      <br>
      <small class="text-info">(Informational Vulnerability are ignored)</small>
    </h4>
    <div class="inbox-widget table-responsive" data-simplebar style="max-height: 407px;">
      <table class="table table-borderless table-nowrap table-hover table-centered m-0">
        <thead class="">
          <tr>
            <th style="width: 40%">Target</th>
            <th style="width: 10%">Vulnerability Count</th>
            <th style="width: 50%">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for item in most_vulnerable_target %}
          <tr onclick="window.location='/scan/detail/vuln?domain={{item.name}}';" style="cursor: pointer;">
            <td>
              <h5 class="m-0 fw-normal">{{item.name}}</h5>
            </td>
            <td>
              {{item.num_vul}} Vulnerabilities
            </td>
            <td>
              <div class="progress progress-sm m-0">
                {% if total_vul_ignore_info_count %}
                <div class="progress-bar br-30 bg-danger" role="progressbar" style="width: {% with percent=item.num_vul|div:total_vul_ignore_info_count %}{{percent|mul:100}}{% endwith %}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                {% endif %}
              </div>
            </td>
          </tr>
          {% empty %}
          Not enough data.
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
