<div class="card" style="height: 95%">
  <div class="card-body">
    <div class="header-title mb-3">
      <div class="row">
        <div class="col-6">
          <h4><span class="text-danger me-1"><i class="fas fa-bug"></i></span>Most Common Vulnerabilities</h4>
        </div>
        <div class="col-6">
          <div class="form-check float-end">
            <input type="checkbox" class="form-check-input" id="ignore_info_most_common_vuln_checkbox">
            <label class="form-check-label" for="ignore_info_most_common_vuln_checkbox">Ignore Info Vulnerabilities</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-1">
        <div class="inbox-widget table-responsive" data-simplebar style="max-height: 407px;">
          <div class="d-flex justify-content-center" id="most_common_vuln_spinner"></div>
          <div id="most_common_vuln_div">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
