<div class="col-xl-4 col-lg-4 col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title mb-0"><span class="text-danger me-1"><i class="fas fa-bug"></i></span>Most Common CVE IDs</h4>
      <div id="most_common_cve" class="apex-charts"></div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title mb-0"><span class="text-danger me-1"><i class="fas fa-bug"></i></span>Most Common CWE IDs</h4>
      <div id="most_common_cwe" class="apex-charts"></div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title mb-0"><span class="text-danger me-1"><i class="fas fa-bug"></i></span>Most Common Vulnerability Tags</h4>
      <div id="most_common_tags" class="apex-charts"></div>
    </div>
  </div>
</div>
