<div class="row justify-content-center">
  <div class="col-xl-8 col-lg-8 col-sm-8">
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Filter Subdomains" aria-label="Filter Subdomains" id="subdomains-search">
          <div class="input-group-append">
            <button id="subdomain-search-button" class="btn btn-primary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> Search</button>
          </div>
        </div>
        <div class="autocom-box mt-container mx-auto" id="autocom-box">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
            {% include 'base/_items/subdomain_toolbar.html' %}
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <table id="subdomain_scan_results" class="table style-3 table-hover">
              <thead>
                <tr>
                  <th class="checkbox-column">Status</th>
                  <th>Subdomain</th>
                  <th class="text-center">Endpoints</th>
                  <th class="text-center">Vulnerabilities</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">IP</th>
                  <th class="text-center">Ports</th>
                  <th class="text-center">Content Length</th>
                  <th class="text-center">Screenshot</th>
                  <th class="text-center">Response Time</th>
                  <th>Technology</th>
                  <th>Checked</th>
                  <th>HTTP URL</th>
                  <th>CNAME</th>
                  <th>is_interesting</th>
                  <th>Info</th>
                  <th>Low</th>
                  <th>Medium</th>
                  <th>High</th>
                  <th>Critical</th>
                  <th>Todos</th>
                  <th>Is Important</th>
                  <th>Webserver</th>
                  <th>Action</th>
                  <th>Directories Count</th>
                  <th>Subscan Count</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row">
          {% include 'base/_items/subdomain_toolbar.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
