<div class="modal fade" id="modal_xl_scroll_dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-full-width modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="xl-modal_title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-text" id="xl-modal-content"></div>
      </div>
      <div class="modal-footer">
        <div id="xl-modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
