{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/authentication/form-2.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css' %}">
</head>
<body class="form" style="background: #212121">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h5 class="">Thank you for using reNgine.</h5>
                        <div class='mt-4'>
                            <p class="text-warning">You have been successfully logged out!</p>
                            <p>For any issues or feature request, please feel free to <a href='https://github.com/yogeshojha/rengine/issues' class="text-info">raise issue on github</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/authentication/form-2.js' %}"></script>
</body>
</html>
