<div id="toggleAccordion">
  {% for engine in engines.all %}
  <div class="card">
    <div class="card-header" id="headingOne{{engine.id}}">
      <section class="mb-0 mt-0">
        <div role="menu" class="collapsed" data-toggle="collapse" data-target="#accordion{{engine.id}}" aria-expanded="true" aria-controls="accordion{{engine.id}}">
          <label class="new-control new-checkbox checkbox-primary w-100 justify-content-between">
            <input type="radio" class="new-control-input" name="scan_mode" value="{{engine.id}}" required>
            <span class="new-control-indicator"></span>{{engine.engine_name}}
          </label>
          <div class="icons">
            {% if engine.default_engine %}
            <span class="badge badge-pills outline-badge-info">Default Engine</span>
            {% else %}
            <span class="badge badge-pills outline-badge-danger">Custom Engine</span>
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
          </div>
        </div>
      </section>
    </div>

    <div id="accordion{{engine.id}}" class="collapse" aria-labelledby="headingOne1" data-parent="#toggleAccordion">
      <div class="card-body">
        <table>
          <tr>
            <td>
              <p style="margin-right:1%">Subdomain Discovery</>
              </td>
              <td>
                {% if engine.subdomain_discovery %}
                {% include 'base/_items/green_tick.html' %}
                {% else %}
                {% include 'base/_items/red_cross.html' %}
                {% endif %}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-right:1%">Port Scan</p>
            </td>
            <td>
              {% if engine.port_scan %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-right:1%">Directory and Files Search</p>
            </td>
            <td>
              {% if engine.dir_file_search %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-right:1%">Fetch Endpoints(URLs)</p>
            </td>
            <td>
              {% if engine.fetch_url %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-right:1%">Vulnerability Scan</p>
            </td>
            <td>
              {% if engine.vulnerability_scan %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
