{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block title %}
All Endpoints
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatable/global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatable/custom.css' %}">
<link href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block main_content %}
<div class="row justify-content-center">
  <div class="col-xl-8 col-lg-8 col-sm-8">
    <div class="wrapper">
      <div class="search-input" id="endpoint-search-input">
        <a href="" target="_blank" hidden></a>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Filter Endpoints" aria-label="Filter Endpoints" id="endpoints-search">
          <div class="input-group-append">
            <button id="endpoint-search-button" class="btn btn-primary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> Search</button>
          </div>
        </div>
        <div class="autocom-box mt-container mx-auto endpoint-search" id="autocom-box">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="btn-group mb-2 float-end dropstart">
              <button class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe-download"></i>
              </button>
              <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="javascript:download_endpoints()">Download All Endpoints</a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <table id="endpoint_results" class="table style-3 table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>HTTP URL</th>
                  <th>Status</th>
                  <th>Page Title</th>
                  <th>Tags</th>
                  <th>Content Type</th>
                  <th>Content Length</th>
                  <th>Technology</th>
                  <th>Webserver</th>
                  <th>Response time</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'startScan/js/detail_scan.js' %}"></script>
<script src="{% static 'plugins/datatable/datatables.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard.min.js' %}"></script>
<script src="{% static 'startScan/js/endpoint-datatables-suggestions.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  const ps = new PerfectScrollbar(document.querySelector('.endpoint-search'));
  get_endpoints(null, null);
});
</script>
{% endblock page_level_script %}
