{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
Scheduled Scan
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatable/global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatable/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/switches/switches.min.css' %}">
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item active" aria-current="page">Scheduled Scans</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Scheduled Scans
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <table id="scheduled_scan_table" class="table style-3 table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>Frequency</th>
            <th>Last Run</th>
            <th class="text-center">Run Count</th>
            <th class="text-center">One Off Task</th>
            <th class="text-center">Enabled</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for task in scheduled_tasks %}
          <tr>
            {% with task_name=task.name|split:":" %}
            <td>{{ task_name.0 }}</td>
            {% endwith %}
            <td>
              {% if task.interval %}
              Will run  {{ task.interval }}
              {% elif task.clocked %}
              Will run exactly at {{ task.clocked.clocked_time}} UTC
              {% endif %}
            </td>
            <td>{{ task.last_run_at|none_or_never }}</td>
            <td class="text-center">{{ task.total_run_count }}</td>
            <td class="text-center">
              {% if task.one_off %}
              {% include 'base/_items/green_tick.html' %}
              {% else %}
              {% include 'base/_items/red_cross.html' %}
              {% endif %}
            </td>
            <td class="text-center">
              <label class="switch s-icons s-outline s-outline-info">
                <input type="hidden" name="task_id" value="task.id" />
                <input type="checkbox" name="task_enabled" {% if task.enabled %}checked{% endif %} onchange="change_scheduled_task_status({{task.id}}, this)" data-plugin="switchery">
                <span class="slider round"></span>
              </label>
            </td>
            <td class="text-center">
              <a onclick="deleteScheduledScan({{ task.id }})" class="text-danger btnDelTask" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete Scheduled Task">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-delete feather-x-circle">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="15" y1="9" x2="9" y2="15"></line>
                  <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main_content %}
{% block page_level_script %}
<script src="{% static 'plugins/datatable/datatables.js' %}"></script>
<script>
// var e;
$(document).ready(function() {
  var scheduled_scan_table = $('#scheduled_scan_table').DataTable({
    "oLanguage": {
      "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
      "sInfo": "Showing page _PAGE_ of _PAGES_",
      "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
      "sSearchPlaceholder": "Search...",
      "sLengthMenu": "Results :  _MENU_",
    },
    "lengthMenu": [5, 10, 20, 30, 50, 100],
    "pageLength": 10,
    "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center mt-sm-0 mt-3'f><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center'l>>>" +
    "<'table-responsive'tr>" +
    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
  });
  multiCheck(scheduled_scan_table);
});
</script>
{% endblock page_level_script %}
