{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Start Scan
{% endblock title %}


{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'list_target' %}">Target</a></li>
<li class="breadcrumb-item active">Initiate Multiple Scans</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Initiate Scan for Multiple Targets
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Initiating multiple scan for {{ domain_list|length }} targets: </h4>
        {% for domain in domain_list %}
        <span class="badge badge-soft-primary m-1">{{domain}}</span>
        {% endfor %}
        <form method="POST">
          {% csrf_token %}
          <h4 class="header-title mt-4">Select the scan type</h4>
          <div class="mt-4">
            {% if custom_engine_count == 0 %}
            <div class="alert bg-soft-primary border-0 mb-4" role="alert">
              <span><b>Tips! </b> You do not have any custom scan engines. Would you like to create your own scan engine?</span>
              <a href="{% url 'add_engine' %}" class="text-primary">Create Custom Scan Engine</a>
            </div>
            {% endif %}
            <input type="hidden" name="list_of_domain_id" value="{{domain_ids}}">
            {% include "startScan/_items/scanEngine_select.html" %}
          </div>
          <button class="btn btn-primary submit-fn mt-2 float-end" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather table-scan feather-zap" id="myInput" value="helloworld">
            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
          </svg> Start Scan</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
{% endblock page_level_script %}
