/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.maintanence-hero-img img {
  width: 62px;
  height: 62px; }

body.maintanence {
  color: #888ea8;
  height: 100%;
  font-size: 0.875rem;
  background: #060818; }
  body.maintanence > .maintanence-content {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px; }

.maintanence .error-title {
  margin-top: 65px;
  color: #e0e6ed;
  font-weight: 600;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 5px;
  text-shadow: 0px 5px 4px rgba(31, 45, 61, 0.101961); }

.maintanence .error-text {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  color: #bfc9d4; }

.maintanence a.btn {
  width: 134px;
  padding: 6px;
  font-size: 17px;
  background-image: linear-gradient(229deg, #517281 0%, #3b5d70 27%, #4d5c82 72%, #5d647f 100%);
  border: none;
  letter-spacing: 2px;
  box-shadow: none; }

.maintanence .text {
  color: #e0e6ed;
  font-size: 16px;
  font-weight: 600;
  margin-top: 21px; }
