{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Initiating Scan for Organization
{% endblock title %}


{% block custom_js_css_link %}
<link href="{% static 'plugins/jquery-step/jquery.steps.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/accordions/custom-accordions.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'list_organization' current_project.slug %}">Organization</a></li>
<li class="breadcrumb-item active">Initiate Scan</li>
<li class="breadcrumb-item active" aria-current="page">{{organization.name}}</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Initiating scan for {{organization.name}}
{% endblock page_title %}

{% block main_content %}
  {% include "startScan/_items/start_scan_wizard.html" %}
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'plugins/jquery-step/jquery.steps.min.js' %}"></script>
<script src="{% static 'plugins/selectize/js/standalone/selectize.min.js' %}"></script>
<script src="{% static 'startScan/js/start-scan-wizard-init.js' %}"></script>
{% endblock page_level_script %}
