/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
textarea {
  resize: none; }

.clipboard {
  background-color: #060818;
  padding: 20px;
  border-radius: 6px; }
  .clipboard.copy-txt {
    background-color: #060818; }
    .clipboard.copy-txt .otp-pass span {
      font-size: 24px;
      font-weight: 600;
      color: #009688; }
