{% load static %}
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a href="{% url 'dashboardIndex' %}">
                    <img src="{% static 'img/logo.png' %}" class="navbar-logo" alt="logo">
                </a>
            </li>
            <li class="nav-item theme-text">
                <a href="{% url 'dashboardIndex' %}" class="nav-link"> reNgine </a>
            </li>
        </ul>
    </header>
</div>
