<div class="statbox widget box box-shadow">
  <div class="widget-header">
    <div class="row layout-top-spacing">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h4>Add {{ service_name }} Notification Hook</h4>
      </div>
      <div class="infobox-3 m-4">
        <div class="info-icon">
          <img src="{{ logo }}" alt="{{ service_name }}">
        </div>
        <h5 class="info-heading">Support for {{ service_name }}</h5>
        <p class="info-text">If you want to learn more on how to get the {{ service_name }} web hook URL, please follow this guide. <a href="{{ api_guide_url }}" target="_blank" class="text-info">{{ api_guide_url }}</a></p>
        <p class="info-text">Please note that, your {{ service_name }} web hook url must be in the format of {{ web_hook_format }}</p>
        <a class="info-link" href="{{ api_guide_url }}" target="_blank">Read more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
      </div>
    </div>
  </div>
  <div class="widget-content widget-content-area">
    <form class="simple-example" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="domainName">Your {{ service_name }} channel</label>
          {{ hook_name }}
        </div>
        <div class="col-md-6 mb-4">
          <label for="domainDescription">Hook URL</label>
          {{ hook_url }}
          {% if errors %}
          <div class="invalid-feedback" style="display: block;">
            {{ errors.hook_url|striptags }}
          </div>
          {% endif %}
        </div>
      </div>
      {{ send_notif }}
      <button class="btn btn-primary submit-fn mt-2 float-right" type="submit" name="{{ service_name }}">{{button_title}}</button>
    </form>
  </div>
</div>
