{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add Engine Type
{% endblock title %}


{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
{{ form.media }}
<style media="screen">
.ace_editor {
	width:100%;
	height:450px;
	font-size:12px;
	border:1px solid #CCC;
}
.django-ace-toolbar{
	display: none;
}
</style>
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Add new engine
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
        	<div class="row">
                <div class="col-12">
                    <h4>Add Scan Engine Name</h4>
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form class="simple-example" method="POST">
                {% csrf_token %}
                {% include "scanEngine/_items/form_engine.html" %}
                <button class="btn btn-primary submit-fn mt-2 float-right" type="submit">Add Engine</button>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block page_level_script %}
<script src=% static 'assets/js/scrollspyNav.js' %}"></script>
<script typetext/javascript">
$(document).ready(function() {
	$('.ace_editor').attr('id','editor');
	var editor = ace.edit("editor");
	editor.setValue(`subdomain_discovery:
    uses_tool: [ amass-passive, subfinder, sublist3r, assetfinder ]
    thread: 10

port_scan:
    ports: [ top-100 ]
    thread: 10

visual_identification:
    port: xlarge
    thread: 2

dir_file_search:
    extensions: [ php,asp,aspx,txt,conf,db,sql,json ]
    recursive: false
    recursive_level: 1
    thread: 100
    wordlist: default

fetch_url:
    uses_tool: [ all ]
    intensity: normal

vulnerability_scan:
    concurrent: 10
    template: [ all ]
    severity: [ all ]
`);
	editor.clearSelection();
});
</script>
{% endblock page_level_script %}
