{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Scan Engine
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_miscellaneous.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css' %}">
<script src="{% static 'plugins/sweetalerts/promise-polyfill.js' %}"></script>
<link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
All Engines
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="col-lg-12 layout-spacing">
    <div class="col-lg-12">
        <div class="row layout-spacing">
            <div class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row" style="margin-top:2%">
                            <div class="col-6">
                                <h4>Scan Engines</h4>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'add_engine' %}" class="btn btn-outline-primary mb-2 float-right">Add New Engine</a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="toggle-list">
                            <div class="row">
                                <a class="btn toggle-vis mb-2 ml-2" data-column="1">Subdomain Discovery</a>
                                <a class="btn toggle-vis mb-2 ml-2" data-column="2">Port Scan</a>
                                <a class="btn toggle-vis mb-2 ml-2" data-column="3">Directory & Files Discovery</a>
                                <a class="btn toggle-vis mb-2 ml-2" data-column="5">Fetch URLs</a>
                                <a class="btn toggle-vis mb-2 ml-2" data-column="6">Vulnerability Scan</a>
                            </div>
                        </div>
                        <div class="table-responsive mb-4">
                            <table id="show-hide-col" class="table table-hover" style="width:100%">
                                <thead style="border-bottom: none;">
                                    <tr>
                                        <th>Engine Name</th>
                                        <th>Subdomain Discovery</th>
                                        <th>Port Scan</th>
                                        <th>Directory & Files Discovery</th>
                                        <th>Fetch URLs</th>
                                        <th>Vulnerability Scan</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for engine_type in engine_type.all %}
                                    <tr>
                                        <td><span class="bs-tooltip text-info" data-placement="right" title="{% if engine_type.default_engine %}Default Engine {% else %}Custom Engine{% endif %}">{{engine_type.engine_name}}</span></td>
                                        <td>
                                            {% if engine_type.subdomain_discovery %}
                                            {% include 'base/_items/green_tick.html' %}
                                            {% else %}
                                            {% include 'base/_items/red_cross.html' %}
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if engine_type.port_scan %}
                                            {% include 'base/_items/green_tick.html' %}
                                            {% else %}
                                            {% include 'base/_items/red_cross.html' %}
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if engine_type.dir_file_search %}
                                            {% include 'base/_items/green_tick.html' %}
                                            {% else %}
                                            {% include 'base/_items/red_cross.html' %}
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if engine_type.fetch_url %}
                                            {% include 'base/_items/green_tick.html' %}
                                            {% else %}
                                            {% include 'base/_items/red_cross.html' %}
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if engine_type.vulnerability_scan %}
                                            {% include 'base/_items/green_tick.html' %}
                                            {% else %}
                                            {% include 'base/_items/red_cross.html' %}
                                            {%endif%}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'update_engine' engine_type.id %}" class="bs-tooltip open-domain" data-placement="top" title="" data-original-title="Edit Engine">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-edit feather-edit-2">
                                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                </svg>
                                            </a>
                                            <a onclick="delete_api({{ engine_type.id }}, '{{ engine_type.engine_name }}', 'engine')" class="bs-tooltip btnDelDomain" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete {{engine_type.engine_name}} Engine">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-delete feather-x-circle">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="15" y1="9" x2="9" y2="15"></line>
                                                    <line x1="9" y1="9" x2="15" y2="15"></line>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'custom/custom.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<script src="{% static 'scanEngine/js/custom_scan_engine.js' %}"></script>
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
{% endblock page_level_script %}
