{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Scan Engine
{% endblock title %}


{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block main_content %}
<div class="col-lg-12 layout-spacing">
    
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/jquery-step/jquery.steps.min.js' %}"></script>
<script src="{% static 'plugins/jquery-step/custom-jquery.steps.js' %}"></script>
{% endblock page_level_script %}
