{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Interesting entries Lookup
{% endblock title %}


{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/taginput/tags-input.css' %}">
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Interesting entries lookup
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="col-lg-12 layout-spacing">
  <div class="col-lg-12">
    <div class="row layout-spacing">
      <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row" style="margin-top:2%">
              <div class="col-12">
                <h4>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap text-success">
                    <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2">
                    </polygon>
                  </svg>
                  Interesting Lookup &nbsp;
                  <small class="text-danger">
                    <span class="badge badge-danger"> New </span>
                  </small>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area">
          <p>
            reNgine supports lookup for interesting keyword in recon data. This could be either looking up in subdomains, URLs or in page title.
            You can enter the keywords to lookup and reNgine will highlight the matched entries.<br>
            <span class="text-info">Keywords are case insensitive.</span><br>
            <div class="col-12 widget-content-area text-center tags-content">
              <form method="POST">
                {% csrf_token %}
                {{ form.keywords }}
                <span class="text-danger"><b>Press comma , to add and separate the keywords.</p></span>
                <button class="btn btn-primary submit-fn mt-2 float-right" type="submit">Update Keywords</button>
              </form>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/taginput/tags-input.js' %}"></script>
<script type="text/javascript">
// get values from interesting_keywords
var lookup = document.getElementById('keywords').value;
var instance = new TagsInput({
  selector: 'keywords'
});
// update existing keywords
var keyword = lookup.split(",");
for (i = 0; i < keyword.length; i++) {
  instance.addData([keyword[i]]);
}
</script>

{% endblock page_level_script %}
