{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Tool Arsenal
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="#">Settings</a></li>
<li class="breadcrumb-item active">Tool Arsenal</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Tool Arsenal
{% endblock page_title %}

{% block main_content %}
<div class="row">
  {% for tool in installed_tools %}
  <div class="col-lg-4 col-12 mt-2">
    <div class="card h-100">
      <div class="card-body">
        <div class="text-center">
          <img src="{{tool.logo_url}}" alt="logo" height="40">
          <h4 class="mb-1 font-20">{{tool.name}}</h4>
          <p>
            {% if tool.category %}
            <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="top" title="Tool Category">{{tool.category}}</span>
            {% endif %}
            {% if tool.active_passive %}
            <span class="badge badge-soft-primary ms-1" data-toggle="tooltip" data-placement="top" title="Tool Type">{{tool.active_passive}}</span>
            {% endif %}
          </p>
        </div>
        <p class="float-end">
          <a href="{{tool.github_url}}" target="_blank">Github <i class="fe-external-link"></i></a>
          {% if tool.license_url %}
          <a href="{{tool.license_url}}" class="ms-1" target="_blank">License <i class="fe-external-link"></i></a>
          {% endif %}
        </p>
        <div class="row mt-4 text-center">
          <div class="col-6">
            <h5 class="fw-normal">Installed Version</h5>
            <h4></h4>
          </div>
          <div class="col-6">
            <h5 class="fw-normal">Latest Version</h5>
            <h4 id="{{tool.name}}"></h4>
          </div>
        </div>
        <hr>
        <p class="mt-2 font-14 text-center text-muted">
          {{tool.description}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'scanEngine/js/tool_arsenal.js' %}" charset="utf-8"></script>
<script src="{% static 'custom/custom.js' %}" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("body").tooltip({ selector: '[data-toggle=tooltip]' });

});
// fetch latest version information
// {% for tool in installed_tools %}
// get_external_tool_version('{{tool.github_url}}', '{{tool.name}}');
// {% endfor %}
get_external_tool_version('https://github.com/projectdiscovery/httpx', 'httpx');

function get_external_tool_version(github_url, id){
  fetch('/api/github/tool/get_latest_releases/?tool_github_url=' + github_url)
  .then(response => response.json())
  .then(data => document.getElementById(id).innerHTML = data['name']);
}
</script>
{% endblock page_level_script %}
