{% extends 'base/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block page_title %}
{% endblock page_title %}

{% block breadcrumb_title %}
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="row justify-content-center">
   <div class="col-lg-6 col-xl-4 mb-4">
      <div class="error-text-box">
         <svg viewBox="0 0 600 200">
            <symbol id="s-text">
               <text text-anchor="middle" x="50%" y="50%" dy=".35em">404!</text>
            </symbol>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
         </svg>
      </div>
      <div class="text-center">
         <h3 class="mt-0 mb-2">Oops-a-Daisy! You've Found Our Top-Secret Interdimensional Rabbit Hole! </h3>
         <a href="/" class="btn btn-success waves-effect waves-light">Back to Dashboard</a>
      </div>
      <!-- end row -->
   </div>
   <!-- end col -->
</div>
{% endblock main_content %}


{% block page_level_script %}
{% endblock page_level_script %}
