/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
/*
    Tab Section
*/
.faq .faq-layouting .fq-tab-section {
  padding: 35px 50px;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06); }
  .faq .faq-layouting .fq-tab-section h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 45px;
    letter-spacing: 0px;
    text-align: center; }
    .faq .faq-layouting .fq-tab-section h2 span {
      color: #1b55e2; }
  .faq .faq-layouting .fq-tab-section .accordion .card {
    border: 2px solid #e0e6ed;
    border-radius: 6px;
    margin-bottom: 4px; }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header {
      padding: 0;
      border: none;
      background: none; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header > div {
        padding: 19px 30px;
        font-weight: 600;
        font-size: 16px;
        color: #1b55e2;
        cursor: pointer; }
        .faq .faq-layouting .fq-tab-section .accordion .card .card-header > div[aria-expanded="true"] {
          border-bottom: 2px solid #e0e6ed; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div .faq-q-title {
        overflow: hidden;
        font-size: 14px;
        color: #888ea8;
        font-weight: 600;
        letter-spacing: 1px; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] .faq-q-title {
        color: #1b55e2; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div .icons {
        display: inline-block;
        float: right; }
        .faq .faq-layouting .fq-tab-section .accordion .card .card-header div .icons svg {
          color: #888ea8; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] .icons svg {
        color: #1b55e2; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-header div svg.feather-thumbs-up {
        cursor: pointer;
        vertical-align: bottom;
        margin-right: 10px;
        width: 18px;
        color: #888ea8;
        fill: rgba(0, 23, 55, 0.08); }
    .faq .faq-layouting .fq-tab-section .accordion .card:hover .card-header div svg.feather-thumbs-up {
      color: #1b55e2;
      fill: rgba(27, 85, 226, 0.239216); }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] svg.feather-thumbs-up {
      color: #1b55e2;
      fill: rgba(27, 85, 226, 0.239216); }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div span.faq-like-count {
      font-size: 13px;
      font-weight: 700;
      color: #888ea8;
      fill: rgba(0, 23, 55, 0.08); }
    .faq .faq-layouting .fq-tab-section .accordion .card:hover .card-header div span.faq-like-count, .faq .faq-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] span.faq-like-count {
      color: #1b55e2;
      fill: rgba(27, 85, 226, 0.239216); }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-body {
      padding: 19px 30px; }
      .faq .faq-layouting .fq-tab-section .accordion .card .card-body p {
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 1px; }

/*
    Media Query
*/
@media (max-width: 575px) {
  .faq .faq-layouting .fq-tab-section {
    padding: 35px 25px; }
    .faq .faq-layouting .fq-tab-section .accordion .card .card-header div svg.feather-code {
      display: none; } }
