@import url('main.css');
@import url('../../plugins/perfect-scrollbar/perfect-scrollbar.css');
@import url('structure.css');
/*
    Importing highlight.js CSS code 

    Just for demo purpose only
	
	@Note:-  monokai-sublime.css stylesheet is for highliting the code;

*/
@import '../../plugins/highlight/styles/monokai-sublime.css';
