/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
/*      Map     */
#basic_map1 {
  width: 100%;
  border-radius: 12px;
  height: 726px !important; }

/*  Contact Section Header     */
.cu-contact-section {
  position: relative;
  padding: 0;
  display: flex; }
  .cu-contact-section .cu-section-header {
    margin-bottom: 50px; }
    .cu-contact-section .cu-section-header h4 {
      color: #0e1726;
      font-size: 34px;
      font-weight: 600; }
    .cu-contact-section .cu-section-header p {
      color: #506690;
      font-size: 15px; }
  .cu-contact-section .contact-form {
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    height: -moz-max-content;
    height: 100%;
    z-index: 2; }
    .cu-contact-section .contact-form form {
      padding: 25px 35px;
      height: 100%; }
      .cu-contact-section .contact-form form .input-fields {
        position: relative; }
        .cu-contact-section .contact-form form .input-fields svg {
          position: absolute;
          top: 11px;
          color: #4361ee;
          width: 20px;
          left: 25px; }
          .cu-contact-section .contact-form form .input-fields svg.feather-mail {
            left: 12px;
            top: 7px; }
      .cu-contact-section .contact-form form h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 25px;
        color: #0e1726; }
      .cu-contact-section .contact-form form input {
        padding: 8px 5px 8px 40px;
        background-color: transparent;
        box-shadow: none;
        color: #0e1726;
        font-weight: 400; }
        .cu-contact-section .contact-form form input::-webkit-input-placeholder, .cu-contact-section .contact-form form input::-ms-input-placeholder, .cu-contact-section .contact-form form input::-moz-placeholder {
          color: #888ea8;
          font-size: 14px; }
  .cu-contact-section p {
    color: #0e1726; }
  .cu-contact-section .n-chk {
    display: inline-block; }
    .cu-contact-section .n-chk label {
      color: #0e1726; }

/* 	Contact Content 	*/
.new-control.new-radio.radio-success > input:checked ~ span.new-control-indicator {
  background: #4361ee !important; }

.cu-contact-section .form-group textarea {
  padding: 8px 5px 8px 43px;
  background-color: transparent;
  resize: none;
  color: #0e1726;
  font-weight: 400; }
  .cu-contact-section .form-group textarea::-webkit-input-placeholder, .cu-contact-section .form-group textarea::-ms-input-placeholder, .cu-contact-section .form-group textarea::-moz-placeholder {
    color: #888ea8;
    font-size: 14px; }
  .cu-contact-section .form-group textarea:-ms-input-placeholder {
    color: #7b8489; }

.cu-contact-section form button {
  border: none;
  padding: 15px 25px;
  display: block;
  width: 100%;
  background-color: #4361ee !important;
  box-shadow: none; }

@media (max-width: 991px) {
  .cu-contact-section .contact-form {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute; }
    .cu-contact-section .contact-form form {
      max-width: 530px;
      margin: 0 auto;
      width: 100%;
      border-radius: 0;
      height: 100%;
      background-color: #030305;
      background-attachment: fixed;
      background-size: contain;
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(10px); }
  .cu-contact-section .cu-section-header {
    background-color: #030305;
    background-attachment: fixed;
    background-size: contain;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(1px);
    padding: 15px;
    margin-bottom: 80px;
    border-radius: 12px; }
  .cu-contact-section .contact-form form input, .cu-contact-section .form-group textarea {
    box-shadow: none;
    background-color: #030305;
    background-attachment: fixed;
    background-size: contain;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    color: #fff;
    font-weight: 400;
    border: none; }
  .cu-contact-section .contact-form form input {
    box-shadow: none;
    color: #bfc9d4;
    font-weight: 400; }
  .cu-contact-section p {
    color: #bfc9d4; }
  .cu-contact-section .n-chk {
    display: inline-block; }
    .cu-contact-section .n-chk label {
      color: #bfc9d4; }
  .cu-contact-section .cu-section-header p {
    color: #bfc9d4;
    font-size: 15px; }
  .cu-contact-section .contact-form form h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cu-contact-section .contact-form form {
    min-width: 530px;
    width: 100%; } }
