.widget-chart {
  position: relative;
  padding: 0;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07); }

.widget-chart_hybrid {
  background: #fff;
}
.widget-chart_hybrid .widget-heading {
  padding: 20px 13px;
}
.widget-chart_hybrid .widget-heading .w-icon {
  display: inline-block;
  padding: 7px 8px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.widget-chart_hybrid .widget-heading svg {
  height: 18px;
  width: 18px;
}
.widget-chart_hybrid .widget-heading h2 span {
  font-size: 18px;
  margin-bottom: 0;
  color: #506690;
}
.widget-chart_hybrid.widget-dash-chart {
  background: #c2d5ff;
}
.widget-chart_hybrid.widget-referral {
  background: #ffe1e2;
}
.widget-chart_hybrid.widget-warning {
  background: #ffefe1;
}
.widget-chart_hybrid.widget-purple {
  background: #e1e2ff;
}
.widget-chart_hybrid.widget-referral .widget-heading .w-icon {
  color: #e7515a;
  border: 1px solid #e7515a;
}
.widget-chart_hybrid.widget-dash-chart .widget-heading .w-icon {
  color: #1b55e2;
  border: 1px solid #1b55e2;
}
.widget-chart_hybrid.widget-warning .widget-heading .w-icon {
  color: #F57C00;
  border: 1px solid #F57C00;
}
.widget-chart_hybrid.widget-purple .widget-heading .w-icon {
  color: #7E57C2;
  border: 1px solid #7E57C2;
}
.widget-chart_hybrid.widget-referral {
  background: #ffe1e2;
}
.widget-chart_hybrid.widget-referral .widget-heading .w-icon {
  color: #e7515a;
  border: 1px solid #e7515a;
}
.widget-chart_hybrid.widget-social {
  background: #bae7ff;
}
.widget-chart_hybrid.widget-social .widget-heading .w-icon {
  color: #2196f3;
  border: 1px solid #2196f3;
}
.widget-chart_hybrid.widget-engagement {
  background: #e6ffbf;
}
.widget-chart_hybrid.widget-engagement .widget-heading .w-icon {
  color: #8dbf42;
  border: 1px solid #8dbf42;
}
.widget-chart .widget-content{
  padding: 0 0 20px 0;
}
