{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block custom_js_css_link %}
<link href="{% static 'assets/css/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block main_content %}
<div class="col-lg-12 layout-px-spacing">
  <div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
      <div class="row widget-statistic">
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 col-12">
          <div class="widget widget-one_hybrid">
            <div class="widget-heading">
              <div class="w-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
              </div>
              <br>
              <h2 class="text-warning">{{domain_count}}</h2>
              <h6 class="">Total Domains</h6>
            </div>
            <div class="widget-content">
              <!-- some contents -->
              &nbsp;
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 col-12">
          <div class="widget widget-one_hybrid">
            <div class="widget-heading">
              <div class="w-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
              </div>
              <br>
              <h2 class="text-warning">{{subdomain_count}}</h2>
              <h6 class="">Subdomains Discovered</h6>
            </div>
            <div class="widget-content">
              Total Alive Subdomains: <b class="text-info">{{alive_count}}</b>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 col-12">
          <div class="widget widget-one_hybrid">
            <div class="widget-heading">
              <div class="w-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
              </div>
              <br>
              <h2 class="text-warning">{{endpoint_count}}</h2>
              <h6 class="">Endpoints Discovered</h6>
            </div>
            <div class="widget-content">
              Total Alive endpoints: <b class="text-info">{{endpoint_alive_count}}</b>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 col-12">
          <div class="widget widget-one_hybrid">
            <div class="widget-heading">
              <div class="w-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
              </div>
              <br>
              <h2 class="text-warning">{{scan_count}}</h2>
              <h6 class="">Total Scans</h6>
            </div>
            <div class="widget-content">
              &nbsp;
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}

{% endblock page_level_script %}
