/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.h5, h5 {
  font-size: 1.25rem; }

.h4, h4 {
  font-size: 1.5rem; }

.h6, h6 {
  font-size: 1rem; }

/*
    ======================
        Header Wrapper
    ======================
*/
#headerWrapper {
  padding: 30px 50px; }
  #headerWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 280px;
    background-color: #4361ee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23009d8a'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230078ad'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; }
  #headerWrapper .main-heading {
    color: #fff;
    margin: 0; }
    #headerWrapper .main-heading i {
      font-size: 50px;
      vertical-align: sub; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #headerWrapper:before {
    background-image: none; } }

/*
    ======================
        Privacy Wrapper
    ======================
*/
#privacyWrapper {
  padding: 80px 0; }
  #privacyWrapper .privacy-container {
    max-width: 815px;
    margin: 0 auto; }
  #privacyWrapper .privacyContent {
    padding: 30px 30px;
    background: #fff;
    margin-top: -60px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
    box-shadow: 2px 5px 17px 0 #1f2d3d1a; }
    #privacyWrapper .privacyContent .privacy-head {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e0e6ed; }
    #privacyWrapper .privacyContent .privacyHeader h1 {
      font-weight: 600; }
    #privacyWrapper .privacyContent .privacyHeader p {
      margin-bottom: 0;
      font-size: 16px; }
    #privacyWrapper .privacyContent .get-privacy-terms svg {
      margin-right: 12px; }
  #privacyWrapper .privacy-content-container section:not(:last-child) {
    margin-bottom: 45px; }
  #privacyWrapper .privacy-content-container h5 {
    margin-bottom: 24px; }
  #privacyWrapper h5 {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px; }
    #privacyWrapper h5.policy-info-ques {
      color: #666666;
      font-weight: 600; }

/*
    ==========================
        Mini Footer Wrapper
    ==========================
*/
#miniFooterWrapper {
  color: #fff;
  font-size: 14px;
  border-top: solid 1px #ffffff;
  padding: 14px;
  -webkit-box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1); }
  #miniFooterWrapper .arrow {
    background-color: #4361ee;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    #miniFooterWrapper .arrow p {
      align-self: center;
      margin-bottom: 0;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px; }
  #miniFooterWrapper .copyright a {
    color: #4361ee;
    font-weight: 700;
    text-decoration: none; }
