
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: #3283f6;
}

.text-sm-logo{
  color:#fff;
  font-size: 21px;
  margin-left: 5px !important;
}

.text-lg-logo{
  color:#fff;
  font-size: 30px;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-low {
  color: #FDD835;
}

.text-critical {
  color: #E53935;
}

.badge-critical {
  color: #fff;
  background-color: #E53935;
}

.badge-low {
  color: #fff;
  background-color: #FFD600;
}

.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(33, 150, 243, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

input[type="text"][disabled] {
  background-color: #dddddd;
}

form-control:disabled, .form-control[readonly]{
  background-color: #dddddd;
}

.accordion-item{
  margin-top: -10px;
}

/* jquery steps for scan engine  */
.wizard > .content > .body{
  padding: 1% !important;
}

/* select2 badges */
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
  list-style: none;
}


.select2-container .select2-selection--multiple .select2-selection__choice{
  background-color: #3283f6 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding: 0 7px !important;
  margin-top: 6px !important;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: #fff !important;
}

.select2-selection__rendered {
  line-height: 31px !important;
}
.select2-container .select2-selection--single {
  height: 35px !important;
}
.select2-selection__arrow {
  height: 34px !important;
}

.badge {
  font-weight: 600 !important;
  line-height: 1.4 !important;
  padding: 3px 6px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important;
}

/* grow datatables search section */
div.dataTables_wrapper div.dataTables_filter input {
  width: 100%;
  float: left;
  transition: all .2s ease-in-out;
}

div.dataTables_wrapper div.dataTables_filter input:focus {
  width: 300%;
  transform: scale(1);
}

.badge-link {
  cursor: pointer;
}

.right-bar{
  width: 360px;
  right: -370px;
}

/* theme toggle switch */
.toggle-switch {
  vertical-align: middle;
  margin-top: 9px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch.s-icons .slider svg {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 4px;
  color: #fff;
}

.switch.s-icons .slider svg.feather-sun {
  left: 4px;
  color: #e2a03f;
  fill: #e2a03f;
}

.switch.s-icons .slider svg.feather-moon {
  right: 4px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch.s-outline .slider {
  border: 2px solid #8195ee;
  background-color: transparent;
  width: 36px;
  height: 19px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch.s-icons .slider svg {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 4px;
  color: #fff;
}

.switch.s-icons .slider svg.feather-sun {
  left: 4px;
  color: #e2a03f;
  fill: #e2a03f;
}

.switch.s-icons .slider svg.feather-moon {
  right: 4px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch.s-outline .slider {
  border: 2px solid #8195ee;
  background-color: transparent;
  width: 36px;
  height: 19px;
}

.switch.s-outline .slider:before {
  height: 21px;
  width: 21px;
  z-index: 1;
}

.switch.s-outline[class*="s-outline-"] .slider:before {
  bottom: 2px;
  left: 3px;
  border: 2px solid #bfc9d4;
  background-color: #bfc9d4;
  color: #ebedf2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.25);
  content: "" !important;
}

.switch.s-icons.s-outline-secondary {
  color: #805dca;
}

.switch.s-outline-secondary input:checked+.slider {
  border: 2px solid #e0e6ed;
}

.switch.s-outline-secondary input:checked+.slider:before {
  border: 2px solid #4361ee;
  background-color: #4361ee;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-secondary input:focus+.slider {
  box-shadow: 0 0 1px #805dca;
}

.switch.s-icons {
  width: 57px;
  height: 30px;
}

.switch.s-icons .slider {
  width: 64px;
  height: 30px;
  background: #3b3f5c;
  border-color: #3b3f5c;
}

.switch.s-outline-secondary input:checked+.slider {
  background: #e0e6ed;
}

.switch.s-icons input:checked+.slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* theme toggle switch end */
