{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add Organization
{% endblock title %}


{% block custom_js_css_link %}
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'list_organization' %}">Organization</a></li>
<li class="breadcrumb-item active">Add Organization</li>
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="statbox widget box box-shadow">
  <div class="widget-header">
    <div class="row">
      <div class="col-12">
        <h4>Add Organization</h4>
      </div>
    </div>
  </div>
  <div class="widget-content widget-content-area">
    <p class="text-muted">Organizations can be used to bundle the targets, an organization can have multiple targets. You will be able to scan the organizations just like the targets, but scanning the organization will allow you to scan all the targets wihtin the organization together.
    </p>
    <form method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="organizationName">Organization name</label>
          {{ form.name }}
          {% if form.errors %}
          <div class="invalid-feedback" style="display: block;">
            {{ form.errors.name|striptags }}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6 mb-4">
          <label for="organizationDescription">Description (Optional)</label>
          {{ form.description }}
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <label for="targets">Select Targets</label>
        {{form.domains}}
        {% if form.errors.domains %}
        <div class="invalid-feedback text-danger" style="display: block;">
          <p class="text-danger">
            {{ form.errors.domains|striptags }}
          </p>
        </div>
        {% endif %}
      </div>
      <button class="btn btn-primary submit-fn mt-2 float-right" disabled="true" type="submit">Add Organization</button>
    </form>
  </div>
</div>

{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script type="text/javascript">
$(".tagging").select2({
  tags: true,
});
$('select').select2({closeOnSelect: false}).on("change", function(e) {
  var counter = $(".select2-selection__choice").length;
  if (counter) {
    $(':input[type="submit"]').prop('disabled', false);
  }
  else{
    $(':input[type="submit"]').prop('disabled', true);
  }

});
</script>
{% endblock page_level_script %}
