<div class="row">
  <div class="col-12">
    <label for="domainName" class="form-label">Engine name</label>
    {{ form.engine_name }}
  </div>
  <!-- <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt-4">
    <h4 class="text-secondary">Engine</h4>
    <p>Select what your Scan Engine has to perform.</p>
    <table>
      <tr>
        <td>
          <h5 class="text-secondary">Subdomain Discovery</h5>
          <span class="text-primary">(Selected by Default)</span>
          <br>
          <span>(Choose the subdomain scanning tools from YAML config.)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.subdomain_discovery}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">WAF Detection</h5>
          <span class="text-primary">(Disabled by Default)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.waf_detection}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">Screenshot&nbsp;&nbsp;&nbsp;<span class="badge badge-soft-danger rounded-pill">Recommended</span></h5>
          <span>(Takes the screenshots of all the discovered subdomains.)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.screenshot}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">OSINT</h5>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.osint}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">Port Scan</h5>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.port_scan}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">Directory and Files Search</h5>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.dir_file_fuzz}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">Fetch All Endpoints(URLs)</h5>
          <span>(Open Threat Exchange, Wayback Machine <br>Common Crawl)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.fetch_url}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">Vulnerability Scanner&nbsp;&nbsp;&nbsp;<span class="badge badge-soft-danger rounded-pill">Recommended</span></h5>
          <span>Scan for low hanging CVE and vulnerabilities.</span>
          <br>
          <span class="text-info">
            For better Vulnerability Scan results, please turn on the <b>Fetch Endpoints</b>.
            <br>reNgine will use nuclei to find vulnerabilities on those endpoints as well.
            <br><span class="text-danger">This will also increase the scan time exponentially but much better results.</span>
          </span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.vulnerability_scan}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </table>
  </div>-->
  <div class="col-xl-8 col-md-12 col-sm-12 col-12 mt-4">
    <h4 class="text-secondary">YAML Configurations</h4>
    <p>
      reNgine supports YAML based configurations for customizing the scan. The default settings are given below, you may choose to proceed with the default settings or configure it according to your choice.
    </p>
    <h5 class="text-secondary">reNgine YAML Documentation</h5>
    To learn more about YAML config visit the official documentation at <a href="https://rengine.wiki/usage/scan_engine/" class="text-primary" target="_blank">https://rengine.wiki/pentester/scan_engine/</a>
    <p class="mt-1 text-danger">
      Note: Invalid YAML configuration may crash scans.
      <br>
      <span class="text-uppercase">Please, do not modify the configuration unless you know what what you are doing.</span>
      <br>
      <span class="text-danger">If default YAML configuration doesn't automatically load, <a href="https://raw.githubusercontent.com/yogeshojha/rengine/master/default_yaml_config.yaml" target="_blank">download default configuration from here</a> and paste it. (Firefox may have issues loading default YAML configuration.)</span>
    </p>
    {{form.yaml_configuration}}
  </div>
</div>
