{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add Notification Hook
{% endblock title %}


{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<link href="{% static 'assets/css/elements/infobox.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/tabs/custom-tabs.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-select/bootstrap-select.min.css' %}">
<link href="{% static 'plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/components/tabs/custom-accordions.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Add new Notification Hook
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="col-lg-12 layout-spacing">
  <div class="statbox widget box box-shadow">
    <div class="widget-header">
      <div class="row">
        <div class="col-12">
          <h4 class="text-info">Add Notification Hook</h4>
        </div>
      </div>
    </div>
    <div class="widget-content widget-content-area">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-12 mb-4">
          <h6 class="mb-4">Choose the Notification Hook Service</h6>
          <select class="selectpicker" data-width='100%' onchange="hook_changed(this)" name="hook_selector">
            <option value="slack">Slack</option>
            <option value="discord">Discord</option>
          </select>
          <div class="widget-content widget-content-area animated-underline-content">
            <div class="tab-content" id="animateLineContent-4">
              <div class="tab-pane fade show active" id="slack" role="tabpanel" aria-labelledby="slack">
                <div class="mb-4">
                  {% include 'notification/_items/add_hook_form.html' with service_name="Slack" logo="/staticfiles/img/slack.svg" api_guide_url="https://api.slack.com/messaging/webhooks" web_hook_format="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX" button_title="Submit" hook_name=slack_form.hook_name hook_url=slack_form.hook_url send_notif=slack_form.send_notif errors=slack_form.errors %}
                </div>
              </div>
              <div class="tab-pane fade" id="discord" role="tabpanel" aria-labelledby="discord">
                <div class="mb-4">
                  {% include 'notification/_items/add_hook_form.html' with service_name="Discord" logo="/staticfiles/img/discord.svg" api_guide_url="https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks" web_hook_format="https://discord.com/api/webhooks/000000000000000000/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" button_title="Submit" hook_name=discord_form.hook_name hook_url=discord_form.hook_url send_notif=discord_form.send_notif errors=discord_form.errors %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script type="text/javascript">
function hook_changed(selectObject){
  selectedValue = selectObject.value;
  if (selectedValue == 'slack') {
    var slack_div = document.getElementById("discord");
    slack_div.classList.remove("show");
    slack_div.classList.remove("active");
    var discord_div = document.getElementById("slack");
    discord_div.classList.add("show");
    discord_div.classList.add("active");
  }
  else if (selectedValue == 'discord') {
    var slack_div = document.getElementById("slack");
    slack_div.classList.remove("show");
    slack_div.classList.remove("active");
    var discord_div = document.getElementById("discord");
    discord_div.classList.add("show");
    discord_div.classList.add("active");
  }
}
</script>
{% endblock page_level_script %}
