{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add Notification Hook
{% endblock title %}


{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
<link href="{% static 'assets/css/elements/infobox.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
Add new Notification Hook
{% endblock breadcrumb_title %}

{% block main_content %}
{% include 'notification/_items/add_hook_form.html' with button_title="Submit" widget_title="Add Slack Notification Hook" %}
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
{% endblock page_level_script %}
