<div class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-12">
                    <h4>{{widget_title}}</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
                <form class="simple-example" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="text-info">You can add your tools specific configuration like amass config and use this your YAML settings.</p>
                <div class="form-row">
                    <div class="col-md-6 mb-4">
                        <label for="name">Wordlist Name</label>
                        {{ form.name }}
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="short_name">Short Name</label>
                        {{ form.short_name }}
                        {% if form.errors.short_name %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ form.errors.short_name|striptags }}
                            </div>
                        {% endif %}
                        <p class="text-warning mt-2">Please keep the short names without spaces, like my-wordlist or my_wordlist. The short names will be later used to reference wordlist in the YAML settings.</p>
                    </div>
                    <div class="col-12 mb-4">
                        <p>
                            Sample config file: <a href="https://github.com/OWASP/Amass/blob/master/examples/config.ini" class="text-info" target="_blank">https://github.com/OWASP/Amass/blob/master/examples/config.ini</a>
                            <br>
                            <span class="text-muted"># Paste your config here</span>
                        </p>
                        {{ form.content }}
                    </div>
                </div>
                <button class="btn btn-primary submit-fn mt-2 float-right" type="submit">{{button_title}}</button>
            </form>
        </div>
    </div>
</div>
