{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Add New Wordlist
{% endblock title %}


{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'wordlist_list' %}">Wordlist</a></li>
<li class="breadcrumb-item active">Add Worldlist</li>
{% endblock breadcrumb_title %}

{% block main_content %}
    {% include 'scanEngine/wordlist/_items/add_form.html' with button_title="Upload Wordlist" widget_title="Add new wordlist" form_action="add" %}
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script type="text/javascript">
var input = document.getElementById("name");
var shortName = document.getElementById("short_name");

input.addEventListener("input", function() {
inputValue = document.getElementById("name").value;
    shortName.value = inputValue.replace(/[^a-zA-Z0-9]/g,'_').toLowerCase();;
});

shortName.addEventListener("input", function() {
inputValue = document.getElementById("short_name").value;
    shortName.value = inputValue.replace(/[^a-zA-Z0-9]/g,'_').toLowerCase();;
});


// custom file input
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock page_level_script %}
