{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Wordlist
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_miscellaneous.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css' %}">
<script src="{% static 'plugins/sweetalerts/promise-polyfill.js' %}"></script>
<link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'wordlist_list' %}">Wordlist</a></li>
<li class="breadcrumb-item active">All Worldlists</li>
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="statbox widget box box-shadow">
  <div class="widget-header">
    <div class="row" style="margin-top: 1%">
      <div class="col-xl-6 col-md-6 col-sm-6 col-6">
        <h4>Wordlist</h4>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6 col-6">
        <a href="{% url 'add_wordlist' %}" class="btn btn-primary mb-2 float-right">Add New Wordlist</a>
      </div>
    </div>
  </div>
  <div class="widget-content widget-content-area">
    <div class="table-responsive mb-4">
      <table id="style-2" class="table style-2  table-hover">
        <thead>
          <tr>
            <th>Wordlist Name</th>
            <th>Shortname</th>
            <th>Wordlist Count</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for wordlist in wordlists.all %}
          <tr>
            <td>{{ wordlist.name }}</td>
            <td>{{ wordlist.short_name }}</td>
            <td>{{ wordlist.count }}</td>
            <td class="text-center">
              <a onclick="delete_api({{ wordlist.id }}, '{{ wordlist.name }}', 'wordlist')" class="bs-tooltip btnDelWordlist" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete Wordlist">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-delete feather-x-circle">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="15" y1="9" x2="9" y2="15"></line>
                  <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'custom/custom.js' %}"></script>
<script src="{% static 'scanEngine/js/custom_scan_engine.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<script>
// var e;
c1 = $('#style-2').DataTable({
  "oLanguage": {
    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
    "sInfo": "Showing page _PAGE_ of _PAGES_",
    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
    "sSearchPlaceholder": "Search...",
    "sLengthMenu": "Results :  _MENU_",
    "sProcessing": "Processing... Please wait..."
  },
  "dom": "<'row'<'col-lg-10 col-md-10 col-12'f><'col-lg-2 col-md-2 col-12'l>>" +
  "<'row'<'col'tr>>" +
  "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
  "lengthMenu": [5, 10, 20, 50],
  "pageLength": 5
});
multiCheck(c1);
</script>
{% endblock page_level_script %}
